<div class="container" (click)="onExpand()">
  <div class="container-text">
    <p class="title">{{oSection?.cName}}</p>
    <p class="subtitle">{{secSection}}</p>
  </div>
  <div>
    <!--<ion-icon class="icon-expand" [name]="bExpand ? 'chevron-down' : 'chevron-up'" (click)="bExpand = !bExpand"></ion-icon>-->
    <mat-icon [ngClass]="bExpand ? 'icon-expand a-chevron' : 'icon-expand a-chevron switch'" fontIcon="keyboard_arrow_up" ></mat-icon>
  </div>
</div>
<div *ngIf="bExpand">
  <div *ngFor="let oUnit of oSection?.lUnits">
    <app-item-unit (eventUnit)="onEventUnit($event)" [oUnit]="oUnit"></app-item-unit>
  </div>
</div>
<div class="divider"></div>

