@import "../../../../styles/icon";
@import "../../../../styles/text";
@import "../../../../theme/variables";


.container {
  display: flex;
  padding: 1rem;
  background-color: #efefef;
  cursor: pointer;

  // used to prevent marking while scrolling
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.icon-expand {
  @extend .is-item;
  @extend .ic-text-primary;
  cursor: pointer;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.container-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  @extend .ts-standard;
  @extend .tc-primary;
  @extend .tw-bold;
  margin-bottom: 0.25rem;
}

.subtitle {
  @extend .ts-xs;
  @extend .tc-primary
}
