<!-- cover shown in the beginning and needed for making user swipe so that nav bar shrinks in safari/ios -->
<div class="cover-container no-marker" autoscroll="true" #vCover
     style="overflow: hidden; position: absolute; top: 0; z-index: 9; width: 100%; height: calc(400dvh); overflow: auto; ">
  <div class="page">

    <!-- header -->
    <div class="flex section">
      <mat-icon class="is-standard ic-light sh-icon" fontIcon="arrow_back_ios"></mat-icon>
    </div>

    <div class="section" style="display: flex; justify-content: center">
      <img class="sh-box-soft" [src]="svWebinar.bsWebinarThumbnail.value" style="width: 12rem; height: 12rem; object-fit: cover; border-radius: 0.5rem;">
    </div>

    <div class="section flex" style="justify-content: center; margin-top: 2rem;">
      <p class="tc-light tsl-standard sh-text" style="width: 40%; text-align: center; margin-top: auto; margin-bottom: auto">Zum starten des Videos</p>
      <div class="flex-vertical" style="width: 20%; align-items: center;">
        <mat-icon class="ic-primary is-standard a-move-up sh-icon" fontIcon="arrow_upward"></mat-icon>
        <mat-icon class="ic-light is-standard a-move-up sh-icon" fontIcon="arrow_upward"></mat-icon>
        <mat-icon class="ic-light is-standard a-move-up sh-icon" fontIcon="arrow_upward"></mat-icon>
      </div>
      <p class="tc-primary_ tsl-standard sh-text" style="width: 40%; text-align: center; margin-top: auto; margin-bottom: auto">Nach oben wischen</p>
    </div>

    <div class="section">
      <p class="tsl-xl tw-bold tc-light sh-text">{{svWebinar.bsWebinar.value?.cName}}</p>
    </div>

    <div class="section">
      <div class="flex bg-dark-two sh-box-soft" style="height: 5rem; width: 100%; border-radius: 0.5rem;">
        <img [src]="svWebinar.bsUnitThumbnail.value" style="object-fit: cover; width: 3rem; height: 100%; border-radius: 0.5rem">

        <div class="flex-vertical" style="justify-content: center; padding: 0.5rem">
          <p class="ts-xxxs tc-light-two sh-text">AKTUELLE KURSEINHEIT</p>
          <p class="ts-standard tc-light tw-bold mt-05 sh-text">{{svWebinar.bsUnit.value?.cName}}</p>
          <p class="ts-xs tc-light mt-05 sh-text">{{(svWebinar.bsSection.value!.nPosition + 1) + '. Abschnitt: ' + svWebinar.bsSection.value?.cName}}</p>
        </div>
      </div>
    </div>

    <!--
    <div class="section">
      <div class="flex bg-dark-two sh-box-soft" style="height: 3rem; width: 100%; border-radius: 0.5rem;">
        <img [src]="svWebinar.bsCoachThumbnail.value" style="object-fit: cover; width: 3rem; height: 100%; border-radius: 0.5rem">

        <div class="flex-vertical" style="justify-content: center; padding: 0.5rem">
          <p class="ts-xxxs tc-light-two">COACH</p>
          <p class="ts-standard tc-light tw-bold mt-05">{{svWebinar.bsWebinar.value!.oCoach.oPlayer.cName}}</p>
        </div>
      </div>
    </div>
    -->

  </div>

</div>


<!-- list showing sections and units of webinar -->
<!-- for testing z-index becomes 10 / normal is 7 -->
<div #vList class="bg-dark no-marker" style="position: fixed; top: 844px; z-index: 7; width: 100%; height: 75%; overflow: auto; border-radius: 1.3rem 1.3rem 0rem 0rem;">

  <!-- needed for avoiding 1px of underlying vListInside while closing -->
  <div style="width: 100%; height: 3rem; position: absolute; margin-top: -30px; z-index: 7; border-radius: 1.3rem 1.3rem 0rem 0rem;" class="bg-dark"></div>
  <!-- header -->
  <div #vListHeader (panstart)="onListHeaderStart($event)" (panmove)="onListHeaderMove($event)" (panend)="onListHeaderEnd($event)"
       class="bg-dark"
       style="position: fixed; z-index: 7; width: 100%; height: 4rem; display: flex; flex-direction: column; align-items: center; border-radius: 1.3rem 1.3rem 0rem 0rem; ">
    <!-- slide-bar -->
    <div class="slide-bar">
      <p style="opacity: 0">dummy text so that div gets shown as bar</p>
    </div>
    <!-- text and icons -->
    <div style="position:static; display: flex; align-items: center; box-sizing:border-box; width: 100%; padding: 0.75rem; margin-top: auto; margin-bottom: auto">
      <!-- title -->
      <p class="ts-standard tc-light tw-bold">Kurseinheiten</p>
      <!-- title two -->
      <p class="ts-s tc-light-two ml-05">{{aContent.nUnits}}</p>
      <!-- icons -->
      <div style="margin-left: auto; display: none">
        <!-- close -->
        <mat-icon class="is-standard ic-light" fontIcon="close"></mat-icon>
      </div>
    </div>
  </div>

  <!-- content -->
  <!-- needs to be with margin below header -->
  <div #vListOutside style="height: calc(100% - 4rem); z-index: 6; margin-top: 4rem;" (panmove)="null">
    <div #vListInside (tap)="onListInsideTap($event)" (press)="onListInsidePress($event)" (panstart)="onListInsideStart($event)" (panmove)="onListInsideMove($event)"
         (panend)="onListInsideEnd($event)" style="position: relative;  z-index: 5; width: 100%;">
      <div *ngFor="let oSection of svWebinar.bsSections.value">
        <app-item-section (eventUnit)="onEventUnit($event)" [aHeights]="aHeights" [oSection]="oSection"></app-item-section>
      </div>
    </div>
  </div>

</div>

<!-- list-slider note -->
<app-list-slider #cpListNotes (outputListClosed)="outputListClosed()" (outputListOpened)="outputListOpened()" [vListInside]="vListInsideNotes" [cHeaderOneTitle]="'Notizen'"
                 [cHeaderOneSubtitle]="svWebinar.bsUnit.value?.oUnitPlayer?.lNotes?.length! + ''">
  <ng-template #tpListInside>
    <div #vListInsideNotes (press)="cpListNotes.onListInsidePress($event)" (panstart)="cpListNotes.onListInsideStart($event)" (panmove)="cpListNotes.onListInsideMove($event)"
         (panend)="cpListNotes.onListInsideEnd($event)" class="bg-dark" style="width: 100%; position: relative">
      <div *ngFor="let aNote of svWebinar.bsUnit.value?.oUnitPlayer?.lNotes">
        <app-note-unit (outputClick)="onNote()" (outputSettings)="onNoteSettings(aNote)" [aNote]="aNote"></app-note-unit>
      </div>

    </div>
  </ng-template>

  <ng-template #tpInput>
    <div (click)="onAddNote()" (panmove)="null" class="flex-vertical bg-dark" style="height: 4rem; box-sizing: border-box; width: 100%; position: relative">
      <!-- structure needed to avoid overflow-x -->
      <div class="divider" style="position: absolute; top: 0"></div>
      <div class="flex section align-items-center" style="box-sizing: border-box;">
        <div class="bg-light" style="border-radius: 0.75rem; padding: 0.5rem;">
          <p class="ts-xs tc-dark tw-bold" style="padding-top: 0.1rem">{{uDateTime.secondsToDefault(player.currentTime())}}</p>
        </div>
        <div class="sph-1"></div>
        <input class="i" type="text" placeholder="Notiz hinzufügen...">
      </div>

    </div>

  </ng-template>

</app-list-slider>

<!-- list-action note -->
<app-list-action #cpListActionNotes [cHeader]="'Notiz'">
  <ng-template #tpListInside>
    <app-list-action-item (click)="onShowEditNote()" [cName]="'Bearbeiten'" [cIcon]="'edit'"></app-list-action-item>
    <app-list-action-item (click)="onDeleteNote()" [cName]="'Löschen'" [cIcon]="'delete'"></app-list-action-item>
  </ng-template>
</app-list-action>

<!-- list inputs -->
<app-list-input #cpListInputAddNote [cHint]="'Notiz hinzufügen...'" (outputSubmit)="onNoteAdd($event)"></app-list-input>
<app-list-input #cpListInputEditNote [cHint]="'Notiz bearbeiten...'" (outputSubmit)="onEditNote($event)"></app-list-input>


<!-- list-slider comment -->
<app-list-slider #cpListComments (outputListClosed)="outputListClosed()" (outputListOpened)="outputListOpened()" [vListInside]="vListInsideComments" [vListInsideTwo]="vListInsideCommentAnswers" [cHeaderOneTitle]="'Kommentare'" [cHeaderTwoTitle]="'Antworten'"
                 [cHeaderOneSubtitle]="svWebinar.bsUnit.value?.lComments?.length! + ''" [cHeaderTwoSubtitle]="svWebinar.bsComment.value?.lCommentAnswers?.length! + ''" >

  <!-- comments -->
  <ng-template #tpListInside>
    <div #vListInsideComments (press)="cpListComments.onListInsidePress($event)" (panstart)="cpListComments.onListInsideStart($event)" (panmove)="cpListComments.onListInsideMove($event)"
         (panend)="cpListComments.onListInsideEnd($event)" class="bg-dark" style="width: 100%; position: relative">
      <div *ngFor="let aComment of svWebinar.bsUnit.value?.lComments">
        <app-comment (outputAnswer)="onCommentAnswerFromComment(aComment)" (outputLike)="onCommentLike(aComment)" (outputClick)="onComment(aComment)" (outputSettings)="onCommentSettings(aComment)" [aComment]="aComment" [bIconAnswer]="true" [bShowAnswers]="true"></app-comment>
      </div>

    </div>
  </ng-template>

  <!-- comment-answers -->
  <ng-template #tpListInsideTwo>
    <div #vListInsideCommentAnswers (press)="cpListComments.onListInsidePressTwo($event)" (panstart)="cpListComments.onListInsideStartTwo($event)" (panmove)="cpListComments.onListInsideMoveTwo($event)"
         (panend)="cpListComments.onListInsideEndTwo($event)" class="bg-dark" style="width: 100%; position: relative">
      <app-comment (outputClick)="onCommentAnswer()" (outputLike)="onCommentLike(svWebinar.bsComment.value!)" (outputSettings)="onCommentSettings(svWebinar.bsComment.value!)" [aComment]="svWebinar.bsComment.value!" [bIconAnswer]="true" [bHighlight]="true"></app-comment>
      <div *ngFor="let aCommentAnswer of svWebinar.bsComment.value?.lCommentAnswers" style="margin-left: 2.75rem">
        <app-comment (outputClick)="onCommentAnswer()" (outputLike)="onCommentAnswerLike(aCommentAnswer)" (outputSettings)="onCommentAnswerSettings(aCommentAnswer)" [aComment]="aCommentAnswer | comment"></app-comment>
      </div>

    </div>
  </ng-template>

  <!-- input comment -->
  <ng-template #tpInput>
    <div (click)="onAddComment()" (panmove)="null" class="flex-vertical bg-dark" style="height: 4rem; box-sizing: border-box; width: 100%; position: relative">
      <!-- structure needed to avoid overflow-x -->
      <div class="divider" style="position: absolute; top: 0"></div>
      <div class="flex section align-items-center" style="box-sizing: border-box;">
        <div class="bg-light" style="border-radius: 100%; min-width: 1.75rem; min-height: 1.75rem; display: flex; align-items: center; justify-content: center;">
          <p class="ts-xs tc-dark tw-bold" style="">{{svPlayer.bsUserData!.value!.cName!.substring(0,1)}}</p>
        </div>
        <div class="sph-1"></div>
        <input class="i" type="text" placeholder="Kommentar hinzufügen...">
      </div>

    </div>

  </ng-template>

  <!-- input comment-answer -->
  <ng-template #tpInputTwo>
    <div (click)="onAddCommentAnswer()" (panmove)="null" class="flex-vertical bg-dark" style="height: 4rem; box-sizing: border-box; width: 100%; position: relative">
      <!-- structure needed to avoid overflow-x -->
      <div class="divider" style="position: absolute; top: 0"></div>
      <div class="flex section align-items-center" style="box-sizing: border-box;">
        <div class="bg-light" style="border-radius: 100%; min-width: 1.75rem; min-height: 1.75rem; display: flex; align-items: center; justify-content: center;">
          <p class="ts-xs tc-dark tw-bold" style="">{{svPlayer.bsUserData!.value!.cName!.substring(0,1)}}</p>
        </div>
        <div class="sph-1"></div>
        <input class="i" type="text" placeholder="Antwort hinzufügen...">
      </div>

    </div>

  </ng-template>

</app-list-slider>

<!-- list-action comment -->
<app-list-action #cpListActionComments [cHeader]="'Kommentar'">
  <ng-template #tpListInside>
    <app-list-action-item (click)="onShowEditComment()" [cName]="'Bearbeiten'" [cIcon]="'edit'"></app-list-action-item>
    <app-list-action-item (click)="onDeleteComment()" [cName]="'Löschen'" [cIcon]="'delete'"></app-list-action-item>
  </ng-template>
</app-list-action>

<!-- list-action comment-answers -->
<app-list-action #cpListActionCommentAnswers [cHeader]="'Antwort'">
  <ng-template #tpListInside>
    <app-list-action-item (click)="onShowEditCommentAnswer()" [cName]="'Bearbeiten'" [cIcon]="'edit'"></app-list-action-item>
    <app-list-action-item (click)="onDeleteCommentAnswer()" [cName]="'Löschen'" [cIcon]="'delete'"></app-list-action-item>
  </ng-template>
</app-list-action>

<!-- list inputs comment -->
<app-list-input #cpListInputAddComment [cHint]="'Kommentar hinzufügen...'" (outputSubmit)="onCommentAdd($event)"></app-list-input>
<app-list-input #cpListInputEditComment [cHint]="'Kommentar bearbeiten...'" (outputSubmit)="onEditComment($event)"></app-list-input>

<!-- list inputs comment-answer -->
<app-list-input #cpListInputAddCommentAnswer [cHint]="'Antwort hinzufügen...'" (outputSubmit)="onCommentAnswerAdd($event)"></app-list-input>
<app-list-input #cpListInputEditCommentAnswer [cHint]="'Antwort bearbeiten...'" (outputSubmit)="onEditCommentAnswer($event)"></app-list-input>



<!-- overlaps the list so that the nav bar in safari is dark -->
<div class="bg-dark no-marker" style="position: fixed; bottom: 0; z-index: 8; height: 30rem; width: 100%; transform: translateY(30rem); "></div>

<!-- tabs - need to be also on top -->
<div class="no-marker" #vTabs (panmove)="onProcessMove($event)" (panend)="onProcessEnd($event)" class="bg-dark"
     style="position: fixed; bottom: 0; z-index: 6; height: 3.5rem; width: 100%; display: flex; justify-content: center; align-items: center; ">

  <!-- needed so that the pan gesture works on the whole tab bar -->
  <!--
  <mat-icon style=" opacity: 0; position: absolute; z-index: 6; width: 100%; height: 100%;" class="is-standard ic-light" fontIcon="home"></mat-icon>
-->

  <!-- home -->
  <div class="tab-container" (click)="onTabHome()">
    <mat-icon class="is-standard ic-light" fontIcon="home"></mat-icon>
    <p class="tab-title">Start</p>
  </div>

  <!-- notes -->
  <div class="tab-container" (click)="cpListNotes.onOpenList()">
    <mat-icon class="is-standard ic-light" fontIcon="edit_note"></mat-icon>
    <p class="tab-title">Notizen</p>
  </div>


  <!-- list -->
  <div class="tab-container" (click)="onOpenList()">
    <mat-icon class="is-standard ic-light" fontIcon="list"></mat-icon>
    <p class="tab-title">Übersicht</p>
  </div>
</div>

<!-- process bar for showing how much of the video has been played-->
<div #vProcess class="process no-marker" style="position: fixed; bottom: 0; z-index: 6; height: 0.2rem; width: 0%; margin-bottom: 3.4rem; background-color: white; "></div>


<!-- container for video -->
<div class="flex flex-vertical bg-dark no-marker" style="position: fixed; height: calc(100dvh - 3.5rem); width: 100%; z-index: 5;">

  <!-- needed for catching the swipe gesture, however only for 75% witdh of screen so that icons can be clicked on the right side -->
  <div #vSwipe (click)="onClickVideo()" (panend)="onSwipeEnd($event)" (panmove)="onSwipeMove($event)"
       style="position: absolute; z-index: 4; height: calc(100dvh - 3.5rem); width: 75%"></div>

  <!-- video elements -->
  <div #videoWrapper
       style="position:relative; top: 0; z-index: 2; width: 100%; height: calc(100dvh - 3.5rem); transform: translateY(calc(-100dvh + 3.5rem)); margin-bottom: 3.5rem;">

    <!-- video preview top - no real video preview -->
    <div style="position: relative; z-index: 2; height: calc(100dvh - 3.5rem); width: 100%;">
      <!-- needed due to ios bug where pixel line of last video is shown in the beginning, herewith blacked out -->
      <div *ngIf="bShowBlackLineTop" style="position: absolute; z-index: 2; bottom: 0; height: 1px; width: 100%" class="bg-dark"></div>

      <img #videoTop [src]="svWebinar.bsUnitThumbnailLast.value !== null ? svWebinar.bsUnitThumbnailLast.value : svWebinar.bsUnitThumbnailNext.value" class="bg-dark"
           style="object-fit: cover; position: relative; z-index: 1; height: calc(100dvh - 3.5rem); width: 100%;">
    </div>


    <!-- video center container -->
    <div style="position:relative; z-index: 2;width: 100%; height: calc(100dvh - 3.5rem)">

      <!-- interaction overlay of video -->
      <div style="height: 100%; width: 100%; z-index: 3; position: absolute;">

        <!-- title -->
        <p #vTitle class="tsl-l tc-light tw-bold sh-text-soft"
           style="position: absolute; top: 0; left: 0; margin: 1rem !important; width: 75%; opacity: 0">{{svWebinar.bsWebinar.value?.cName}}</p>
        <!--<p #vTitle class="ts-l tc-light tw-bold sh-text-soft" style="position: absolute; top: 0; left: 0; margin: 1rem !important; width: 75%; opacity: 0">{{cTitle}}</p>-->

        <!-- information -->
        <div #vInformation class="flex-vertical a-transition" style="position: absolute; bottom: 0; left: 0; width: 75%; margin-left: 1rem; margin-bottom: 1.5rem; opacity: 0">

          <!-- author -->
          <div style="display: flex; align-items: center">
            <img style="width: 2rem; height: 2rem; border-radius: 100%" width="50" height="50" class="sh-box-soft" [src]="svWebinar.bsCoachThumbnail.value ?? ''">
            <p class="ts-xs tc-light tw-bold sh-text-soft" style="margin-left: 0.5rem !important;">{{'@' + svWebinar.bsWebinar.value?.oCoach?.oPlayer?.cName}}</p>
          </div>

          <!-- unit name -->
          <p class="ts-standard tc-light sh-text-soft" style="margin-top: 0.75rem !important;">{{svWebinar.bsUnit.value?.cName}}</p>

          <!-- section name -->
          <p class="ts-xxs tc-light sh-text-soft" style="margin-top: 0.375rem !important;">{{svWebinar.bsSection.value?.cName}}</p>

        </div>

        <!-- sidebar which enables click on icons and also applies swipe gesture due to pan events-->
        <div (panend)="onSwipeEnd($event)" (panmove)="onSwipeMove($event)" style="position: absolute; bottom: 0; right: 0; width: 25%; height: 100%;">

          <!-- settings -->
          <div class="flex" style="position: absolute; top: 0; right: 0; margin: 1rem">
            <mat-icon class="is-standard ic-light sh-icon" fontIcon="more_vert"></mat-icon>
          </div>

          <!-- container for moving content to right bottom -->
          <div #vSidebar class="flex-vertical a-transition" style="position: absolute; bottom: 0; right: 0; align-items: center; margin: 1rem; opacity: 0">
            <!-- like -->
            <div class="sidebar-container">
              <mat-icon class="sidebar-icon" fontIcon="thumb_up_off_alt"></mat-icon>
              <p class="sidebar-subtext">3245</p>
            </div>

            <!-- comment -->
            <div class="sidebar-container">
              <mat-icon (click)="cpListComments.onOpenList()" class="sidebar-icon sh-icon-soft" fontIcon="comment"></mat-icon>
              <p class="sidebar-subtext">293</p>
            </div>

            <!-- share -->
            <div class="sidebar-container">
              <mat-icon (click)=onClickShare() class="sidebar-icon" fontIcon="share"></mat-icon>
              <p class="sidebar-subtext">Teilen</p>
            </div>

            <!-- check -->
            <div class="sidebar-container">
              <mat-icon (click)=onClickCheck() class="sidebar-icon"
                        [fontIcon]="svWebinar.bsUnit.value?.oUnitPlayer?.tStatus == 2 ? 'check_circle' : 'radio_button_unchecked'"></mat-icon>
              <p class="sidebar-subtext">{{svWebinar.bsUnit.value?.oUnitPlayer?.tStatus == 2 ? 'Abgehakt' : 'Abhaken'}}</p>
            </div>
          </div>

        </div>

      </div>

      <!-- video center - used with video.js -->
      <video #video style="position:relative; z-index: 2;width: 100%; height: calc(100dvh - 3.5rem)" class="bg-dark vjs-custom video-js" playsinline preload="none">

      </video>

    </div>

    <!--
    <video #video style="position:relative; z-index: 2;width: 100%; height: calc(100dvh - 3.5rem)" class="bg-dark vjs-custom video-js" playsinline
           preload="none">
    </video>
    -->

    <!-- video preview bottom - no real video preview -->
    <img #videoBottom [src]="svWebinar.bsUnitThumbnailNext.value !== null ? svWebinar.bsUnitThumbnailNext.value : svWebinar.bsUnitThumbnailLast.value"
         style="object-fit: cover; position: relative; width: 100%; z-index: 2; height: calc(100dvh - 3.5rem)" width="1080" height="1920">
  </div>


  <!-- centered play icon -->
  <div #vPlay style="position:absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0;">
    <mat-icon class="is-xxl ic-light" fontIcon="play_circle_filled"></mat-icon>
  </div>

  <!-- centered pause icon -->
  <div #vPause style="position:absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0;">
    <mat-icon class="is-xxl ic-light" fontIcon="pause_circle_filled"></mat-icon>
  </div>


</div>
















