
<!-- cover shown in the beginning and needed for making user swipe so that nav bar shrinks in safari/ios -->
<div class="no-marker" autoscroll="true" #vCover style=" position: absolute; top: 0; z-index: 9; width: 100%; height: calc(200dvh); overflow: auto; background-color: green; ">
  <p class="ts-standard" style="text-align: center">Please swipe up to start video</p>
</div>


<!-- list showing sections and units of webinar -->
<!-- for testing z-index becomes 10 / normal is 7 -->
<div #vList  class="bg-dark no-marker" style="position: fixed; top: 844px; z-index: 7; width: 100%; height: 75%; overflow: auto; border-radius: 1rem 1rem 0rem 0rem">

  <!-- header -->
  <div #vListHeader (panstart)="onListHeaderStart($event)" (panmove)="onListHeaderMove($event)" (panend)="onListHeaderEnd($event)"
       class="bg-dark" style="position: fixed; z-index: 7; width: 100%; height: 4rem; display: flex; flex-direction: column; align-items: center; border-radius: 1rem 1rem 0rem 0rem">
    <!-- slide-bar -->
    <div class="slide-bar">
      <p style="opacity: 0">dummy text so that div gets shown as bar</p>
    </div>
    <!-- text and icons -->
    <div style="position:static; display: flex; align-items: center; box-sizing:border-box; width: 100%; padding: 0.75rem; margin-top: auto; margin-bottom: auto">
      <!-- title -->
      <p class="ts-standard tc-light tw-bold">Kurseinheiten</p>
      <!-- title two -->
      <p class="ts-s tc-light-two ml-05">34</p>
      <!-- icons -->
      <div style="margin-left: auto; display: none">
        <!-- close -->
        <mat-icon class="is-standard ic-light" fontIcon="close"></mat-icon>
      </div>
    </div>
  </div>

  <!-- content -->
  <!-- needs to be with margin below header -->
  <div #vListOutside style="height: calc(100% - 4rem); z-index: 6; margin-top: 4rem;">
    <div #vListInside (tap)="onListInsideTap($event)" (press)="onListInsidePress($event)" (panstart)="onListInsideStart($event)" (panmove)="onListInsideMove($event)" (panend)="onListInsideEnd($event)" style="position: relative;  z-index: 6; width: 100%;">
      <div *ngFor="let oSection of svWebinar.bsSections.value">
        <app-item-section (eventUnit)="onEventUnit($event)" [oSection]="oSection"></app-item-section>
      </div>
    </div>
  </div>

</div>


<!-- overlaps the list so that the nav bar in safari is dark -->
<div class="bg-dark no-marker" style="position: fixed; bottom: 0; z-index: 8; height: 30rem; width: 100%; transform: translateY(30rem); "></div>

<!-- tabs - need to be also on top -->
<div class="no-marker" #vTabs (panmove)="onProcessMove($event)" (panend)="onProcessEnd($event)" class="bg-dark"
     style="position: fixed; bottom: 0; z-index: 6; height: 3.5rem; width: 100%; display: flex; justify-content: center; align-items: center; ">

  <!-- needed so that the pan gesture works on the whole tab bar -->
  <mat-icon style=" opacity: 0; position: absolute; z-index: 6; width: 100%; height: 100%;" class="is-standard ic-light" fontIcon="home"></mat-icon>

  <!-- home -->
  <div class="tab-container">
    <mat-icon (click)="onTabHome()" class="is-standard ic-light" fontIcon="home"></mat-icon>
    <p class="tab-title">Start</p>
  </div>

  <!-- notes -->
  <div class="tab-container">
    <mat-icon (click)="onOpenList()" class="is-standard ic-light" fontIcon="edit_note"></mat-icon>
    <p class="tab-title">Notizen</p>
  </div>


  <!-- list -->
  <div class="tab-container">
    <mat-icon (click)="onOpenList()" class="is-standard ic-light" fontIcon="list"></mat-icon>
    <p class="tab-title">Übersicht</p>
  </div>
</div>

<!-- process bar for showing how much of the video has been played-->
<div #vProcess class="process no-marker" style="position: fixed; bottom: 0; z-index: 6; height: 0.2rem; width: 0%; margin-bottom: 3.4rem; background-color: white; "></div>


<!-- container for video -->
<div class="flex flex-vertical bg-dark no-marker" style="position: fixed; height: calc(100dvh - 3.5rem); width: 100%; z-index: 5;">

  <!-- needed for catching the swipe gesture, however only for 75% witdh of screen so that icons can be clicked on the right side -->
  <div #vSwipe (click)="onClickVideo()" (panend)="onSwipeEnd($event)" (panmove)="onSwipeMove($event)" style="position: absolute; z-index: 4; height: calc(100dvh - 3.5rem); width: 75%"></div>

  <!-- video elements -->
  <div #videoWrapper
       style="position:relative; top: 0; z-index: 2; width: 100%; height: calc(100dvh - 3.5rem); transform: translateY(calc(-100dvh + 3.5rem)); margin-bottom: 3.5rem;">

    <!-- video preview top - no real video preview -->
    <img #videoTop [src]="svWebinar.bsUnitThumbnailLast.value ?? ''" style="object-fit: cover; position: relative; z-index: 2; height: calc(100dvh - 3.5rem); width: 100%; background-color: #7b1fa2;">

    <!-- video center container -->
    <div style="position:relative; z-index: 2;width: 100%; height: calc(100dvh - 3.5rem)">

      <!-- interaction overlay of video -->
      <div style="height: 100%; width: 100%; z-index: 3; position: absolute;">

        <!-- title -->
        <p class="ts-l tc-light tw-bold sh-text-soft" style="position: absolute; top: 0; left: 0; margin: 1rem; width: 75%">{{svWebinar.bsWebinar.value?.cName}}</p>

        <!-- information -->
        <div class="flex-vertical" style="position: absolute; bottom: 0; left: 0; width: 75%; margin-left: 1rem; margin-bottom: 1.5rem">

            <!-- author -->
            <div style="display: flex; align-items: center">
              <img style="width: 2rem; height: 2rem; border-radius: 100%" width="50" height="50" class="sh-box-soft" [src]="svWebinar.bsCoachThumbnail.value ?? ''">
              <p class="ts-xs tc-light tw-bold sh-text-soft" style="margin-left: 0.5rem">{{'@' + svWebinar.bsWebinar.value?.oCoach?.oPlayer?.cName}}</p>
            </div>

            <!-- unit name -->
            <p class="ts-standard tc-light sh-text-soft" style="margin-top: 0.75rem">{{svWebinar.bsUnit.value?.cName}}</p>

            <!-- section name -->
            <p class="ts-xxs tc-light sh-text-soft" style="margin-top: 0.375rem">{{svWebinar.bsSection.value?.cName}}</p>

        </div>

        <!-- sidebar which enables click on icons and also applies swipe gesture due to pan events-->
        <div (panend)="onSwipeEnd($event)" (panmove)="onSwipeMove($event)" style="position: absolute; bottom: 0; right: 0; width: 25%; height: 100%;">

          <!-- settings -->
          <div class="flex" style="position: absolute; top: 0; right: 0; margin: 1rem">
            <mat-icon class="is-standard ic-light sh-icon" fontIcon="more_vert"></mat-icon>
          </div>

          <!-- container for moving content to right bottom -->
          <div class="flex-vertical" style="position: absolute; bottom: 0; right: 0; align-items: center; margin: 1rem">
            <!-- like -->
            <div class="sidebar-container">
              <mat-icon class="sidebar-icon" fontIcon="thumb_up_off_alt"></mat-icon>
              <p class="sidebar-subtext">3245</p>
            </div>

            <!-- comment -->
            <div class="sidebar-container">
              <mat-icon class="sidebar-icon sh-icon-soft" fontIcon="comment"></mat-icon>
              <p class="sidebar-subtext">293</p>
            </div>

            <!-- share -->
            <div class="sidebar-container">
              <mat-icon (click)=onClickShare() class="sidebar-icon" fontIcon="share"></mat-icon>
              <p class="sidebar-subtext">Teilen</p>
            </div>

            <!-- check -->
            <div class="sidebar-container">
              <mat-icon (click)=onClickCheck() class="sidebar-icon" [fontIcon]="svWebinar.bsUnit.value?.oUnitPlayer?.tStatus == 2 ? 'check_circle' : 'radio_button_unchecked'"></mat-icon>
              <p class="sidebar-subtext">{{svWebinar.bsUnit.value?.oUnitPlayer?.tStatus == 2 ? 'Abgehakt' : 'Abhaken'}}</p>
            </div>
          </div>

        </div>

      </div>

      <!-- video center - used with video.js -->
      <video #video style="position:relative; z-index: 2;width: 100%; height: calc(100dvh - 3.5rem)" class="bg-dark vjs-custom video-js" playsinline preload="none">

      </video>

    </div>

    <!--
    <video #video style="position:relative; z-index: 2;width: 100%; height: calc(100dvh - 3.5rem)" class="bg-dark vjs-custom video-js" playsinline
           preload="none">
    </video>
    -->

    <!-- video preview bottom - no real video preview -->
    <img #videoBottom [src]="svWebinar.bsUnitThumbnailNext.value ?? ''" style="object-fit: cover; position: relative; width: 100%; z-index: 2; height: calc(100dvh - 3.5rem)" width="1080" height="1920" >
  </div>


  <!-- centered play icon -->
  <div #vPlay style="position:absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0;">
    <mat-icon class="is-xxl ic-light" fontIcon="play_circle_filled"></mat-icon>
  </div>

  <!-- centered pause icon -->
  <div #vPause style="position:absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0;">
    <mat-icon class="is-xxl ic-light" fontIcon="pause_circle_filled"></mat-icon>
  </div>



  <!-- needed so that it lays below nav bar and makes it black -->
  <!--
  <div class="bg-dark" style="z-index: 6; height: 40rem; width: 100%; position: absolute; bottom: 0; transform: translateY(calc(40rem - 1px))">
  </div>
  -->

</div>
















