
<!-- cover shown in the beginning and needed for making user swipe so that nav bar shrinks in safari/ios -->
<div autoscroll="true" #vCover style=" position: absolute; top: 0; z-index: 9; width: 100%; height: calc(200dvh); overflow: auto; background-color: green; ">
  <p style="text-align: center">Please swipe up to start video</p>
</div>


<!-- list showing sections and units of webinar -->
<!-- for testing z-index becomes 10 / normal is 7 -->
<div #vList  class="bg-dark" style="position: fixed; top: 844px; z-index: 10; width: 100%; height: 30rem; overflow: auto; border-radius: 0.5rem 0.5rem 0rem 0rem">

  <!-- header -->
  <div #vListHeader (panstart)="onListHeaderStart($event)" (panmove)="onListHeaderMove($event)" (panend)="onListHeaderEnd($event)"
       class="bg-dark" style="position: fixed; z-index: 7; width: 100%; height: 4rem; display: flex; flex-direction: column; align-items: center;">
    <!-- slide-bar -->
    <div class="slide-bar">
      <p style="opacity: 0">dummy text so that div gets shown as bar</p>
    </div>
    <!-- text and icons -->
    <div style="position:static; display: flex; align-items: center; box-sizing:border-box; width: 100%; padding: 0.75rem; margin-top: auto; margin-bottom: auto">
      <!-- title -->
      <p class="ts-standard tc-light tw-bold">Kurseinheiten</p>
      <!-- title two -->
      <p class="ts-s tc-light-two ml-05">34</p>
      <!-- icons -->
      <div style="margin-left: auto; display: none">
        <!-- close -->
        <mat-icon class="is-standard ic-light" fontIcon="close"></mat-icon>
      </div>
    </div>
  </div>

  <!-- content -->
  <!-- needs to be with margin below header -->
  <div #vListOutside style="height: 26rem; z-index: 6; margin-top: 4rem;">
    <div #vListInside (panstart)="onListInsideStart($event)" (panmove)="onListInsideMove($event)" (panend)="onListInsideEnd($event)" style="position: relative;  z-index: 6; width: 100%;">
      <div *ngFor="let oSection of svWebinar.bsSections.value">
        <app-item-section (eventUnit)="onEventUnit($event)" [oSection]="oSection"></app-item-section>
      </div>
    </div>
  </div>

</div>


<!-- overlaps the list so that the nav bar in safari is dark -->
<div class="bg-dark" style="position: fixed; bottom: 0; z-index: 8; height: 30rem; width: 100%; transform: translateY(30rem); "></div>

<!-- tabs - need to be also on top -->
<div #vTabs (panmove)="onProcessMove($event)" (panend)="onProcessEnd($event)" class="bg-dark"
     style="position: fixed; bottom: 0; z-index: 6; height: 3.5rem; width: 100%; display: flex; justify-content: center; align-items: center; ">

  <!-- needed so that the pan gesture works on the whole tab bar -->
  <mat-icon style=" opacity: 0; position: absolute; z-index: 6; width: 100%; height: 100%;" class="is-standard ic-light" fontIcon="home"></mat-icon>

  <!-- home icon -->
  <mat-icon style="position: relative; z-index: 6; margin-left: auto; margin-right: auto;" (click)="onTabHome()" class="is-standard ic-light" fontIcon="home"></mat-icon>

  <!-- note icon -->
  <mat-icon style="position: relative; z-index: 6; margin-left: auto; margin-right: auto;" (click)="onOpenList()" class="is-standard ic-light" fontIcon="push_pin"></mat-icon>

  <!-- list icon -->
  <mat-icon style="position: relative;  z-index: 6; margin-left: auto; margin-right: auto;" (click)="onOpenList()" class="is-standard ic-light" fontIcon="list"></mat-icon>
</div>

<!-- process bar for showing how much of the video has been played-->
<div #vProcess class="process" style="position: fixed; bottom: 0; z-index: 6; height: 0.2rem; width: 0%; margin-bottom: 3.4rem; background-color: white; "></div>


<!-- container for video -->
<div class="flex flex-vertical bg-dark" style="position: fixed; height: calc(100dvh - 3.5rem); width: 100%; z-index: 5;">

  <!-- needed for catching the swipe gesture -->
  <div #vSwipe (click)="onClickVideo()" (panend)="onSwipeEnd($event)" (panmove)="onSwipeMove($event)" style="position: absolute; z-index: 4; height: calc(100dvh - 3.5rem); width: 100%"></div>

  <!-- video elements -->
  <div #videoWrapper
       style="position:relative; top: 0; z-index: 2; width: 100%; height: calc(100dvh - 3.5rem); transform: translateY(calc(-100dvh + 3.5rem)); margin-bottom: 3.5rem;">

    <!-- video preview top - no real video preview -->
    <div #videoTop class="bg-dark" style="position: relative; z-index: 2; height: calc(100dvh - 3.5rem); width: 100%; background-color: #7b1fa2;"></div>

    <!-- video center - used with video.js -->
    <video #video style="position:relative; z-index: 2;width: 100%; height: calc(100dvh - 3.5rem)" class="bg-dark vjs-custom video-js" playsinline
           preload="none"></video>

    <!-- video preview bottom - no real video preview -->
    <div #videoBottom class="bg-dark" style="position: relative; width: 100%; z-index: 2; height: calc(100dvh - 3.5rem)"></div>
  </div>


  <!-- centered play icon -->
  <div #vPlay style="position:absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0;">
    <mat-icon class="is-xxl ic-light" fontIcon="play_circle_filled"></mat-icon>
  </div>

  <!-- centered pause icon -->
  <div #vPause style="position:absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0;">
    <mat-icon class="is-xxl ic-light" fontIcon="pause_circle_filled"></mat-icon>
  </div>



  <!-- needed so that it lays below nav bar and makes it black -->
  <!--
  <div class="bg-dark" style="z-index: 6; height: 40rem; width: 100%; position: absolute; bottom: 0; transform: translateY(calc(40rem - 1px))">
  </div>
  -->




</div>
















