<div class="section" style="padding-right: 0rem !important;">
  <div class="flex">
    <div (click)="onClick()" class="flex" style="height: 100%; width: 100%">
      <div class="bg-primary" style="border-radius: 0.75rem; padding: 0.5rem; margin-bottom: auto">
        <p class="ts-xs tc-light tw-bold" style="padding-top: 0.1rem">{{uDateTime.secondsToDefault(aNote!.secTime)}}</p>
      </div>
      <div class="sph-1"></div>
      <div class="flex-vertical" style="width: 100%">
        <p class="t-xs tc-light" >{{aNote?.cNote}}</p>
      </div>
      <div class="sph-1"></div>
    </div>
    <mat-icon (click)="onSettings()" class="is-xs ic-light sh-icon" style="padding: 0.25rem 1rem 0.5rem 1rem" fontIcon="more_vert"></mat-icon>
  </div>
</div>
