<div class="container">
  <div class="page-horizontal page-vertical">
    <div class="section-horizontal section-vertical">
      <p class="link" style="padding-bottom: 0.5rem">Cookie Einstellungen</p>
      <p class="link" style="padding-bottom: 0.5rem" [routerLink]="'/datenschutzbestimmungen'">Datenschutzerklärung</p>
      <p class="link" style="padding-bottom: 0.5rem" [routerLink]="'/impressum'">Impressum</p>

      <div class="spv-2"></div>

      <img class="logo" src="assets/logo/webcoach_light.webp">

      <p class="copyright">© 2023 Webcoach</p>
    </div>
  </div>
</div>
