@import "../../../global";

.container {
  background-color: $colorBackgroundDark;
}

.link {
  @extend .ts-standard;
  color: $colorWhite;
  margin-bottom: 0.5rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.logo {
  height: 3rem;
}

.copyright {
  @extend .ts-s;
  color: $colorWhite;
}
