<div class="page-horizontal page-vertical">
  <div class="section-horizontal section-vertical">
    <p class="title">Nächste Live-Session</p>
    <p class="t-standard">{{'Datum: ' + uDateTime.sqlDateTimeToDefaultDate(oLive?.dtStart)}}</p>
    <p class="t-standard">{{'Uhrzeit: ' + uDateTime.sqlDateTimeToDefaultTime(oLive?.dtStart)}}</p>
    <p class="t-standard">{{'Dauer: ' + oLive?.minDuration}}</p>
    <p class="t-standard">{{'Format: Microsoft Teams'}}</p>
    <p class="t-standard">{{'Link: ' + oLive?.lMeeting}}</p>
  </div>
</div>

<div class="divider"></div>
<div class="page-horizontal page-vertical">
  <div class="section-horizontal section-vertical">
    <p class="title">Inhalt</p>
    <p class="t-standard" [innerHTML]="oWebinar?.cLive"></p>
  </div>
</div>
