<div class="page-horizontal page-vertical">
  <div class="section-horizontal section-vertical">
    <p class="title">Info zu diesem Kurs</p>
    <p class="t-standard" [innerHTML]="oWebinar?.cDescriptionShort"></p>
  </div>
</div>
<div class="divider"></div>
<div class="page-horizontal page-vertical">
  <div class="section-horizontal section-vertical">
    <p class="title">Zahlen & Fakten</p>
    <p class="t-standard">{{'Level: ' + oWebinar?.oLevel?.cName}}</p>
    <p class="t-standard">{{'Teilnehmer: 153'}}</p>
    <p class="t-standard">{{'Sprache: Deutsch'}}</p>
    <p class="t-standard">{{'Untertitel: Nein'}}</p>
    <p class="t-standard">{{'Länge: ' + cDuration}}</p>
  </div>
</div>

<div class="divider"></div>
<div class="page-horizontal page-vertical">
  <div class="section-horizontal section-vertical">
    <p class="title">Beschreibung</p>
    <p class="t-standard" [innerHTML]="oWebinar?.cDescriptionLong"></p>
    <div class="spv-05"></div>
    <p class="subtitle">Voraussetzungen</p>
    <p class="t-standard" [innerHTML]="oWebinar?.cRequirements"></p>
    <div class="spv-05"></div>
    <p class="subtitle">Für wen ist dieser Kurs</p>
    <p class="t-standard" [innerHTML]="oWebinar?.cTargetGroup"></p>
  </div>
</div>

<div class="divider"></div>
<div class="page-horizontal page-vertical">
  <div class="section-horizontal section-vertical">
    <p class="title">Coach</p>
    <div class="flex align-items-center">
      <img src="assets/image/eric_schumacher.jpg" class="img-coach">
      <div class="flex-vertical" >
        <p class="subtitle-coach">Eric Schumacher</p>
        <p class="t-standard">Software Entwickler | Gründer Webcoach</p>
      </div>
    </div>
    <div class="spv-1"></div>
    <p class="t-standard" [innerHTML]="oWebinar?.oCoach?.htmlDescription"></p>
  </div>
</div>

