<!-- cover shown in the beginning and needed for making user swipe so that nav bar shrinks in safari/ios -->
<div #vContainer>


  <div class="no-marker flex-vertical" autoscroll="true" #vCover
       style="position: absolute; top: 0; z-index: 9; width: 100%; height: calc(400svh); overflow: auto; background: rgb(0, 0, 0, 0)">

    <div class="cover bg-dark" style="position: relative; height: 100svh; box-sizing: border-box;">
      <div class="flex-vertical" style="height: 87svh; padding-top: 1rem !important; padding-bottom: 1rem !important;position: relative; box-sizing: border-box;">

        <div class="flex align-items-center section" style="padding-left: 0rem !important;  position: relative; height: 33.33%; box-sizing: border-box">
          <mat-icon [routerLink]="'/buchungen'" class="cover-back is-l ic-light-two" style="width: 20%" fontIcon="arrow_back_ios_new"></mat-icon>

          <div class="cover-container">
            <p class="cover-box-title">WEBINAR</p>
            <div #vCoverBoxWebinar class="cover-box-webinar" style="position:relative;">
              <div class="cover-box-inside flex-vertical">
                <p class="cover-box-text tw-bold" style="">{{svWebinar.bsWebinar.value?.cName}}</p>
              </div>

            </div>
          </div>

        </div>

        <div class="flex align-items-center section" style="padding-left: 0rem !important; position: relative; height: 33.33%; box-sizing: border-box">
          <p class="cover-subtitle">{{(svWebinar.bsSection.value!.nPosition + 1) + '/' + svWebinar.bsSections.value?.length}}</p>

          <div class="cover-container">
            <p class="cover-box-title">KAPITEL</p>
            <div #vCoverBoxSection class="cover-box-section">
              <div class="cover-box-inside">
                <p class="cover-box-text" style="">{{svWebinar.bsSection.value?.cName}}</p>
              </div>
            </div>
          </div>

        </div>

        <div class="flex align-items-center section" style="padding-left: 0rem !important; position: relative; height: 33.33%; box-sizing: border-box">
          <p class="cover-subtitle">{{(svWebinar.bsUnit.value!.nPosition + 1) + '/' + svWebinar.bsSection.value!.lUnits!.length}}</p>

          <div class="cover-container">
            <p class="cover-box-title">KAPITEL-EINHEIT</p>
            <div #vCoverBoxUnit class="cover-box-unit">
              <div class="cover-box-inside">
                <p class="cover-box-text" style="">{{svWebinar.bsUnit.value?.cName}}</p>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="bg-light flex-vertical align-items-center" style="position: relative; box-sizing: border-box; height: 13svh; width: 100%; font-weight: 700; justify-content: center">
        <p class="ts-xl tc-dark text-align-center">NACH OBEN WISCHEN</p>
        <div class="slide-bar-page bg-dark a-move-up" style="margin-top: 1rem"></div>
      </div>
    </div>

  </div>
  <!--
  <div class="cover-container no-marker" autoscroll="true" #vCover





       style="overflow: hidden; position: absolute; top: 0; z-index: 9; width: 100%; height: calc(400dvh); overflow: auto; ">
    <div class="page">

      <div class="flex section">
        <mat-icon class="is-standard ic-light sh-icon" fontIcon="arrow_back_ios"></mat-icon>
      </div>

      <div class="section" style="display: flex; justify-content: center">
        <img class="sh-box-soft" [src]="svWebinar.bsWebinarThumbnail.value" style="width: 12rem; height: 12rem; object-fit: cover; border-radius: 0.5rem;">
      </div>

      <div class="section flex" style="justify-content: center; margin-top: 2rem;">
        <p class="tc-light tsl-standard sh-text" style="width: 40%; text-align: center; margin-top: auto; margin-bottom: auto">Zum starten des Videos</p>
        <div class="flex-vertical" style="width: 20%; align-items: center;">
          <mat-icon class="ic-primary is-standard a-move-up sh-icon" fontIcon="arrow_upward"></mat-icon>
          <mat-icon class="ic-light is-standard a-move-up sh-icon" fontIcon="arrow_upward"></mat-icon>
          <mat-icon class="ic-light is-standard a-move-up sh-icon" fontIcon="arrow_upward"></mat-icon>
        </div>
        <p class="tc-primary_ tsl-standard sh-text" style="width: 40%; text-align: center; margin-top: auto; margin-bottom: auto">Nach oben wischen</p>
      </div>

      <div class="section">
        <p class="tsl-xl tw-bold tc-light sh-text">{{svWebinar.bsWebinar.value?.cName}}</p>
      </div>

      <div class="section">
        <div class="flex bg-dark-two sh-box-soft" style="height: 5rem; width: 100%; border-radius: 0.5rem;">
          <img [src]="svWebinar.bsUnitThumbnail.value" style="object-fit: cover; width: 3rem; height: 100%; border-radius: 0.5rem">

          <div class="flex-vertical" style="justify-content: center; padding: 0.5rem">
            <p class="ts-xxxs tc-light-two sh-text">AKTUELLE KURSEINHEIT</p>
            <p class="ts-standard tc-light tw-bold mt-05 sh-text">{{svWebinar.bsUnit.value?.cName}}</p>
            <p class="ts-xs tc-light mt-05 sh-text">{{(svWebinar.bsSection.value!.nPosition + 1) + '. Abschnitt: ' + svWebinar.bsSection.value?.cName}}</p>
          </div>
        </div>
      </div>

    </div>

  </div>
  -->


  <!-- list-slider overview -->
  <app-list-slider #cpListOverview (outputListClosed)="on_ListOverviewClosed()" (outputListOpened)="on_ListOpened()" [vListInside]="vListInsideOverview"
                   [cHeaderOneTitle]="'Kurseinheiten'"
                   [cHeaderOneSubtitle]="aContent.nUnits">
    <ng-template #tpListInside>
      <div #vListInsideOverview (press)="cpListOverview.onListInsidePress($event)" (pressup)="cpListOverview.onListInsidePressUp()" (tap)="cpListOverview.onTap()"
           (click)="cpListOverview.onListInsideClick($event)" (panstart)="cpListOverview.onListInsideStart($event)" (panmove)="cpListOverview.onListInsideMove($event)"
           (panend)="cpListOverview.onListInsideEnd($event)" class="bg-dark" style="width: 100%; position: relative">
        <div *ngFor="let oSection of svWebinar.bsSections.value; index as index">
          <app-item-section #cpItemSection (eventUnit)="onEventUnit($event)" [aHeights]="aHeights" [oSection]="oSection"
                            [bLastSection]="svWebinar.bsSections.value!.length-1 === index"></app-item-section>
        </div>
      </div>
    </ng-template>

  </app-list-slider>

  <!-- list-slider comments -->
  <app-list-slider #cpListComments (outputFilterOneSelect)="setFilterComments($event)" (outputListClosed)="on_ListClosed()" (outputListOpened)="on_ListOpened()"
                   [bHandleClick]="false"
                   [vListInside]="vListInsideComments" [vListInsideTwo]="vListInsideCommentAnswers" [cHeaderOneTitle]="'Kommentare'" [cHeaderTwoTitle]="'Antworten'"
                   [cHeaderOneSubtitle]="svWebinar.bsUnit.value?.lComments?.length!.toString()"
                   [cHeaderTwoSubtitle]="svWebinar.bsComment.value?.lCommentAnswers?.length!.toString()"
                   [bFilterOne]="true" [lFilterOne]="lFilterOne">

    <!-- list-inside comments -->
    <ng-template #tpListInside>
      <div #vListInsideComments (pressup)="cpListComments.onListInsidePressUp()" (tap)="cpListComments.onTap()" (click)="cpListComments.onListInsideClick($event)"
           (press)="cpListComments.onListInsidePress($event)" (panstart)="cpListComments.onListInsideStart($event)" (panmove)="cpListComments.onListInsideMove($event)"
           (panend)="cpListComments.onListInsideEnd($event)" style="width: 100%; position: relative">
        <div *ngFor="let aComment of svWebinar.bsUnit.value?.lComments">
          <app-comment (outputClick)="showListCommentAnswers(aComment)" (outputClickAnswer)="onClick_InputAddCommentAnswer(aComment)" (outputLike)="onClick_CommentLike(aComment)"
                       (outputSettings)="onClick_CommentSettings(aComment)" [aComment]="aComment" [bButtonAnswer]="true" [bShowAnswers]="true"></app-comment>
        </div>
      </div>
    </ng-template>

    <!-- list-inside comment-answers -->
    <ng-template #tpListInsideTwo>
      <div #vListInsideCommentAnswers (press)="cpListComments.onListInsidePressTwo($event)" (panstart)="cpListComments.onListInsideStartTwo($event)"
           (panmove)="cpListComments.onListInsideMoveTwo($event)"
           (panend)="cpListComments.onListInsideEndTwo($event)" style="width: 100%; position: relative">
        <app-comment (outputClick)="onClick_InputAddCommentAnswer()" (outputLike)="onClick_CommentLike(svWebinar.bsComment.value!)"
                     (outputSettings)="onClick_CommentSettings(svWebinar.bsComment.value!)" [bListen]="true" [aComment]="svWebinar.bsComment.value!" [bButtonAnswer]="true"
                     [bHighlight]="true"></app-comment>
        <div *ngFor="let aCommentAnswer of svWebinar.bsComment.value?.lCommentAnswers" style="margin-left: 2.75rem">
          <app-comment (outputClick)="onClick_InputAddCommentAnswerRegard(aCommentAnswer)" (outputLike)="onClick_CommentAnswerLike(aCommentAnswer)"
                       (outputSettings)="onClick_CommentAnswerSettings(aCommentAnswer)" [aComment]="aCommentAnswer | comment"></app-comment>
        </div>
      </div>
    </ng-template>

    <!-- input comment -->
    <ng-template #tpInput>
      <div (click)="onClick_InputAddComment()" (panmove)="null" class="flex-vertical bg-dark" style="height: 4rem; box-sizing: border-box; width: 100%; position: relative">
        <!-- structure needed to avoid overflow-x -->
        <div class="divider" style="position: absolute; top: 0"></div>
        <div class="flex section align-items-center" style="box-sizing: border-box;">
          <div class="bg-light" style="border-radius: 100%; min-width: 1.75rem; min-height: 1.75rem; display: flex; align-items: center; justify-content: center;">
            <p class="ts-xs tc-dark tw-bold" style="">{{svPlayer.bsUserData!.value!.cName!.substring(0, 1)}}</p>
          </div>
          <div class="sph-1"></div>
          <input class="i" type="text" placeholder="Kommentar hinzufügen...">
        </div>

      </div>

    </ng-template>

    <!-- input comment-answer -->
    <ng-template #tpInputTwo>
      <div (click)="onClick_InputAddCommentAnswer()" (panmove)="null" class="flex-vertical bg-dark" style="height: 4rem; box-sizing: border-box; width: 100%; position: relative">
        <!-- structure needed to avoid overflow-x -->
        <div class="divider" style="position: absolute; top: 0"></div>
        <div class="flex section align-items-center" style="box-sizing: border-box;">
          <div class="bg-light" style="border-radius: 100%; min-width: 1.75rem; min-height: 1.75rem; display: flex; align-items: center; justify-content: center;">
            <p class="ts-xs tc-dark tw-bold" style="">{{svPlayer.bsUserData!.value!.cName!.substring(0, 1)}}</p>
          </div>
          <div class="sph-1"></div>
          <input class="i" type="text" placeholder="Antwort hinzufügen...">
        </div>
      </div>
    </ng-template>

  </app-list-slider>

  <!-- list-slider notes -->
  <app-list-slider #cpListNotes (outputListClosed)="on_ListClosed()" (outputListOpened)="on_ListOpened()" [vListInside]="vListInsideNotes" [cHeaderOneTitle]="'Notizen'"
                   [cHeaderOneSubtitle]="svWebinar.bsUnit.value?.oUnitPlayer?.lNotes?.length! + ''">

    <ng-template #tpListInside>
      <div #vListInsideNotes (pressup)="cpListNotes.onListInsidePressUp()" (press)="cpListNotes.onListInsidePress($event)" (panstart)="cpListNotes.onListInsideStart($event)"
           (panmove)="cpListNotes.onListInsideMove($event)"
           (panend)="cpListNotes.onListInsideEnd($event)" class="bg-dark" style="width: 100%; position: relative">
        <div *ngFor="let aNote of svWebinar.bsUnit.value?.oUnitPlayer?.lNotes">
          <app-note-unit (outputClick)="onClick_Note(aNote)" (outputSettings)="onClick_NoteSettings(aNote)" [aNote]="aNote"></app-note-unit>
        </div>
      </div>
    </ng-template>

    <ng-template #tpInput>
      <div (click)="onClick_InputAddNote()" (panmove)="null" class="flex-vertical bg-dark" style="height: 4rem; box-sizing: border-box; width: 100%; position: relative">
        <!-- structure needed to avoid overflow-x -->
        <div class="divider" style="position: absolute; top: 0"></div>
        <div class="flex section align-items-center" style="box-sizing: border-box;">
          <div class="bg-light" style="border-radius: 0.75rem; padding: 0.5rem;">
            <p class="ts-xs tc-dark tw-bold" style="padding-top: 0.1rem">{{uDateTime.secondsToDefault(oPlayer.currentTime())}}</p>
          </div>
          <div class="sph-1"></div>
          <input class="i" type="text" placeholder="Notiz hinzufügen...">
        </div>

      </div>

    </ng-template>

  </app-list-slider>

  <!-- list-action notes-->
  <app-list-action #cpListActionNotes [cHeader]="'Notiz'">
    <ng-template #tpListInside>
      <app-list-action-item (click)="onClick_InputEditNote()" [cName]="'Bearbeiten'" [cIcon]="'edit'"></app-list-action-item>
      <app-list-action-item (click)="onClick_DeleteNote()" [cName]="'Löschen'" [cIcon]="'delete'"></app-list-action-item>
    </ng-template>
  </app-list-action>

  <!-- list-inputs notes-->
  <app-list-input #cpListInputAddNote [cHint]="'Notiz hinzufügen...'" (outputSubmit)="onClick_NoteAdd($event)"></app-list-input>
  <app-list-input #cpListInputEditNote [cHint]="'Notiz bearbeiten...'" (outputSubmit)="onClick_EditNote($event)"></app-list-input>


  <!-- list-action comment -->
  <app-list-action #cpListActionComments [cHeader]="'Kommentar'">
    <ng-template #tpListInside>
      <app-list-action-item (click)="onClick_InputEditComment()" [cName]="'Bearbeiten'" [cIcon]="'edit'"></app-list-action-item>
      <app-list-action-item (click)="onClick_DeleteComment()" [cName]="'Löschen'" [cIcon]="'delete'"></app-list-action-item>
    </ng-template>
  </app-list-action>

  <!-- list-action comment-answers -->
  <app-list-action #cpListActionCommentAnswers [cHeader]="'Antwort'">
    <ng-template #tpListInside>
      <app-list-action-item (click)="onClick_InputEditCommentAnswer()" [cName]="'Bearbeiten'" [cIcon]="'edit'"></app-list-action-item>
      <app-list-action-item (click)="onClick_DeleteCommentAnswer()" [cName]="'Löschen'" [cIcon]="'delete'"></app-list-action-item>
    </ng-template>
  </app-list-action>

  <!-- list inputs comment -->
  <app-list-input #cpListInputAddComment [cHint]="'Kommentar hinzufügen...'" (outputSubmit)="onClick_AddComment($event)"></app-list-input>
  <app-list-input #cpListInputEditComment [cHint]="'Kommentar bearbeiten...'" (outputSubmit)="onClick_EditComment($event)"></app-list-input>

  <!-- list inputs comment-answer -->
  <app-list-input #cpListInputAddCommentAnswer [cHint]="'Antwort hinzufügen...'" (outputSubmit)="onClick_AddCommentAnswer($event)"></app-list-input>
  <app-list-input #cpListInputEditCommentAnswer [cHint]="'Antwort bearbeiten...'" (outputSubmit)="onClick_EditCommentAnswer($event)"></app-list-input>


  <!-- list-action settings -->
  <app-list-action #cpListActionSettings [cHeader]="''" [bMargin]="true">
    <ng-template #tpListInside>
      <app-list-action-item (click)="onClick_Description()" [cName]="'Beschreibung'" [cIcon]="'text_snippet'"></app-list-action-item>
      <app-list-action-item *ngIf="svWebinar.bsUnit.value?.bMaterial" (click)="onClick_Material()" [cName]="'Materialien'" [cIcon]="'insert_drive_file'"></app-list-action-item>
      <app-list-action-item (click)="onClick_VideoSpeed()" [cName]="'Wiedergabe-Geschwindigkeit'" [cIcon]="'speed'"></app-list-action-item>
    </ng-template>
  </app-list-action>

  <!-- list-action video speed -->
  <app-list-action #cpListActionVideoSpeed [cHeader]="'Wiedergabe-Geschwindigkeit'" [bMargin]="true">
    <ng-template #tpListInside>
      <div *ngFor="let aVideoSpeed of lVideoSpeed">
        <app-list-action-item (click)="onSelect_VideoSpeed(aVideoSpeed)" [cName]="aVideoSpeed.cName"
                              [cIcon]="aVideoSpeed.id === ksVideoSpeed ? 'radio_button_checked' : 'radio_button_unchecked'"></app-list-action-item>
      </div>
    </ng-template>
  </app-list-action>

  <!-- list-action material -->
  <app-list-action #cpListActionMaterial [cHeader]="'Material'" [bMargin]="true">
    <ng-template #tpListInside>
      <div *ngFor="let aMaterial of svWebinar.bsUnit.value?.lMaterials">
        <app-list-action-item (click)="onSelect_Material(aMaterial)" [cName]="aMaterial['cName']"
                              [cIcon]="'picture_as_pdf'"></app-list-action-item>
      </div>
    </ng-template>
  </app-list-action>

  <!-- list description -->
  <app-list-slider #cpListDescription (outputListClosed)="on_ListClosed()" (outputListOpened)="on_ListOpened()" [vListInside]="vListInsideDescription"
                   [cHeaderOneTitle]="'Beschreibung'">
    <ng-template #tpListInside>
      <div #vListInsideDescription (press)="cpListDescription.onListInsidePress($event)" (panstart)="cpListDescription.onListInsideStart($event)"
           (panmove)="cpListDescription.onListInsideMove($event)"
           (panend)="cpListDescription.onListInsideEnd($event)" class="bg-dark"
           style="width: 100%; box-sizing: border-box; position: relative; padding: 2rem 0.75rem 0.75rem 0.75rem">
        <p class="ts-l tc-light tw-bold">{{svWebinar.bsUnit.value?.cName}}</p>
        <div class="spv-2"></div>
        <div class="flex" style="justify-content: space-evenly;">
          <div class="description-box">
            <p class="description-box-title">{{svWebinar.bsUnit.value?.nLikes}}</p>
            <p class="description-box-subtitle text-align-center">"Mag ich" Bewertungen</p>
          </div>
          <div class="description-box">
            <p class="description-box-title">{{svWebinar.bsUnit.value?.nCalls}}</p>
            <p class="description-box-subtitle">Aufrufe</p>
          </div>
          <div class="description-box">
            <p class="description-box-title">{{svWebinar.bsUnit.value?.dCreation | date: 'd. MMM'}}</p>
            <p class="description-box-subtitle">{{svWebinar.bsUnit.value?.dCreation | date: 'yyyy'}}</p>
          </div>
        </div>
        <div class="spv-2"></div>
        <div class="bg-dark-two" style="padding: 0.75rem; border-radius: 1rem;">
          <p class="ts-s tc-light">{{svWebinar.bsUnit.value?.cDescription ?? 'Keine Beschreibung'}}</p>
        </div>


      </div>
    </ng-template>

  </app-list-slider>

  <!-- overlaps the list so that the nav bar in safari is dark -->
  <div class="bg-dark no-marker" style="position: fixed; bottom: 0; z-index: 8; height: 30rem; width: 100%; transform: translateY(30rem); "></div>

  <!-- tabs - need to be also on top -->
  <div class="no-marker" #vTabs (panstart)="onStart_ProgressBar()" (panmove)="onMove_ProgressBar($event)" (panend)="onEnd_ProgressBar($event)" class="bg-dark"
       style="position: fixed; bottom: 0; z-index: 6; height: 3.5rem; width: 100%; display: flex; justify-content: center; align-items: center; ">

    <!-- needed so that the pan gesture works on the whole tab bar -->
    <!--
    <mat-icon style=" opacity: 0; position: absolute; z-index: 6; width: 100%; height: 100%;" class="is-standard ic-light" fontIcon="home"></mat-icon>
  -->

    <!-- home -->
    <div class="tab-container" (click)="onClick_TabHome()">
      <mat-icon class="is-standard ic-light" fontIcon="home"></mat-icon>
      <p class="tab-title">Start</p>
    </div>

    <!-- notes -->
    <div class="tab-container" (click)="cpListNotes.onOpenList()">
      <mat-icon class="is-standard ic-light" fontIcon="edit_note"></mat-icon>
      <p class="tab-title">Notizen</p>
    </div>


    <!-- overview -->
    <div class="tab-container" (click)="onClick_TabOverview()">
      <mat-icon class="is-standard ic-light" fontIcon="list"></mat-icon>
      <p class="tab-title">Übersicht</p>
    </div>
  </div>

  <!-- process bar for showing how much of the video has been played-->
  <div #vProgressBar class="no-marker" style="position: fixed; bottom: 0; z-index: 6; height: 0.2rem; width: 0%; margin-bottom: 3.4rem; background-color: white; "></div>


  <!-- container for video -->
  <div #vVideoContainer class="flex flex-vertical bg-dark no-marker" style="position: fixed; height: calc(100lvh - 3.5rem); width: 100%; z-index: 5;">

    <div #vVideoControls style="position:absolute; display: none; opacity: 0.9; align-items: center; z-index: 40; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div #vReplayStart style="">
        <mat-icon (click)="onClick_Replay()" class="is-xxl ic-light mr-2 sh-icon" fontIcon="replay"></mat-icon>
      </div>
      <div #vPlayStart style="">
        <mat-icon (click)="onClick_Play()" class="is-xxl ic-light sh-icon" fontIcon="play_circle_filled"></mat-icon>
      </div>
    </div>

    <!-- needed for catching the swipe gesture, however only for 75% witdh of screen so that icons can be clicked on the right side -->
    <div #vSwipe (click)="onClickVideo()" (panstart)="onStart_Video()" (panend)="onEnd_Video($event)" (panmove)="onMove_Video($event)"
         style="position: absolute; z-index: 4; height: calc(100lvh - 3.5rem); width: 75%"></div>

    <!-- video elements -->
    <div #videoWrapper
         style="position:relative; top: 0; z-index: 2; width: 100%; height: calc(100lvh - 3.5rem); transform: translateY(calc(-100lvh + 3.5rem)); margin-bottom: 3.5rem;">

      <!-- video preview top - no real video preview -->
      <div style="position: relative; z-index: 2; height: calc(100lvh - 3.5rem); width: 100%;">
        <!-- needed due to ios bug where pixel line of last video is shown in the beginning, herewith blacked out -->
        <div *ngIf="bShowBlackLineTop" style="position: absolute; z-index: 2; bottom: 0; height: 1px; width: 100%" class="bg-dark"></div>

        <img #videoTop [src]="svWebinar.bsUnitThumbnailLast.value !== null ? svWebinar.bsUnitThumbnailLast.value : svWebinar.bsUnitThumbnailNext.value" class="bg-dark"
             style="object-fit: cover; position: relative; z-index: 1; height: calc(100lvh - 3.5rem); width: 100%;">
      </div>

      <!-- horizontal axis -->
      <div #vHorizontalAxis style="position: relative; z-index: 2; width: 100dvw; transform: translateX(calc(-100dvw)); height: calc(100lvh - 3.5rem)">

        <!-- video wind preview left - no real video -->
        <img #videoLeft [src]="urlIntervalThumbnailLeft" style="object-fit: cover; position: relative; width: 100dvw; z-index: 2; height: calc(100lvh - 3.5rem)" width="540"
             height="960"/>

        <!-- video wind preview right - no real video -->
        <img #videoRight [src]="urlIntervalThumbnailRight"
             style="object-fit: cover; position: absolute; top: 0; left: calc(100dvw * 2); width: 100dvw; z-index: 2; height: calc(100lvh - 3.5rem)" width="1080" height="1920"/>

        <!-- video center container -->
        <div style="position:absolute; left: 100dvw; top: 0; z-index: 2;width: 100%; height: calc(100lvh - 3.5rem)">

          <!-- interaction overlay of video -->
          <div style="height: 100%; width: 100%; z-index: 3; position: absolute;">

            <!-- title -->
            <p #vTitle class="tsl-l tc-light tw-bold sh-text-soft"
               style="position: absolute; top: 0; left: 0; margin: 1rem !important; width: 75%; opacity: 0">{{svWebinar.bsWebinar.value?.cName}}</p>
            <!--<p #vTitle class="ts-l tc-light tw-bold sh-text-soft" style="position: absolute; top: 0; left: 0; margin: 1rem !important; width: 75%; opacity: 0">{{cTitle}}</p>-->

            <!-- information -->
            <div #vInformation class="flex-vertical a-transition"
                 style="position: absolute; bottom: 0; left: 0; width: 75%; margin-left: 1rem; margin-bottom: 1.5rem; opacity: 0">

              <!-- author -->
              <div style="display: flex; align-items: center">
                <img style="width: 2rem; height: 2rem; border-radius: 100%" width="50" height="50" class="sh-box-soft" [src]="svWebinar.bsCoachThumbnail.value ?? ''">
                <p class="ts-xs tc-light tw-bold sh-text-soft" style="margin-left: 0.5rem !important;">{{'@' + svWebinar.bsWebinar.value?.oCoach?.oPlayer?.cName}}</p>
              </div>

              <!-- unit name -->
              <p class="ts-l tc-light sh-text-soft tw-bold" style="margin-top: 0.75rem !important;">{{svWebinar.bsUnit.value?.cName }}</p>

              <!-- section name -->
              <p class="ts-s tc-light sh-text-soft" style="margin-top: 0.375rem !important;">{{svWebinar.bsSection.value?.cName}}</p>

            </div>

            <!-- sidebar which enables click on icons and also applies swipe gesture due to pan events-->
            <div (panend)="onEnd_Video($event)" (panmove)="onMove_Video($event)" style="position: absolute; bottom: 0; right: 0; width: 25%; height: 100%;">

              <!-- settings -->
              <div class="flex" style="position: absolute; top: 0; right: 0; padding: 1rem">
                <mat-icon (click)="onClick_Settings()" class="is-standard ic-light sh-icon" fontIcon="more_vert"></mat-icon>
              </div>

              <!-- container for moving content to right bottom -->
              <div #vSidebar class="flex-vertical a-transition" style="position: absolute; bottom: 0; right: 0; align-items: center; margin: 1rem; opacity: 0">
                <!-- like -->
                <div class="sidebar-container">
                  <div #vUnitLikeAnimation class="sidebar-icon-animation"></div>
                  <mat-icon #vUnitLike (click)="onClick_UnitLike()" class="sidebar-icon" [ngClass]="svWebinar.bsUnit.value?.oUnitPlayer?.bLike ? '' : ''"
                            [fontIcon]="svWebinar.bsUnit.value?.oUnitPlayer?.bLike ? 'thumb_up_alt' : 'thumb_up_off_alt'"></mat-icon>
                  <p class="sidebar-subtext">{{svWebinar.bsUnit.value?.nLikes}}</p>
                </div>

                <!-- comment -->
                <div class="sidebar-container">
                  <div #vUnitCommentAnimation class="sidebar-icon-animation"></div>
                  <mat-icon (click)="onClick_Comments()" class="sidebar-icon sh-icon-soft" fontIcon="comment"></mat-icon>
                  <p class="sidebar-subtext">{{svWebinar.bsUnit.value?.nComments}}</p>
                </div>

                <!-- share -->
                <div class="sidebar-container">
                  <div #vShareAnimation class="sidebar-icon-animation"></div>
                  <mat-icon (click)=onClick_Share() class="sidebar-icon" fontIcon="share"></mat-icon>
                  <p class="sidebar-subtext">Teilen</p>
                </div>

                <!-- check -->
                <div class="sidebar-container">
                  <div #vCheckAnimation class="sidebar-icon-animation"></div>
                  <mat-icon (click)=onClick_Check() class="sidebar-icon"
                            [fontIcon]="svWebinar.bsUnit.value?.oUnitPlayer?.tStatus == 2 ? 'check_circle' : 'radio_button_unchecked'"></mat-icon>
                  <p class="sidebar-subtext">{{svWebinar.bsUnit.value?.oUnitPlayer?.tStatus == 2 ? 'Abgehakt' : 'Abhaken'}}</p>
                </div>
              </div>

            </div>


            <!-- process-thumbnails -->
            <div #vProcessThumbnails class="flex-vertical align-items-center" style="width: 100%; display: none; position: absolute; bottom: 0;">
              <div #vProcessThumbnail style="position: relative; width: 100%; left: 0">
                <img #vProgressThumbnail [src]="imgProgressThumbnail" class="bo-light bg-dark-two" style="border-radius: 0.5rem; width: 9rem; height: 16rem"
                     width="216" height="384">
              </div>

              <div class="spv-05"></div>
              <div class="bg-dark-two-transparent"
                   style="box-sizing: border-box; text-align: center; border-radius: 1rem; padding: 0.5rem 1rem 0.5rem 1rem;transform: translateX(0rem)"
                   [ngStyle]="{'left' : (wWindow/2) + 'px'}">
                <p class="tc-light ts-s tw-bold">{{pProgress + ' %'}}</p>
              </div>
              <div class="spv-1"></div>
            </div>

          </div>

          <!-- video center - used with video.js -->
          <video #video style="position:relative; z-index: 2;width: 100%; height: calc(100lvh - 3.5rem)" class="bg-dark vjs-custom video-js" playsinline preload="none">

          </video>


        </div>

      </div>


      <!--
      <img #videoLeft [src]="svWebinar.bsUnitThumbnailNext.value !== null ? svWebinar.bsUnitThumbnailNext.value : svWebinar.bsUnitThumbnailLast.value"
           style="object-fit: cover; position: absolute; left: -100dvw; width: 100dvw; z-index: 2; height: calc(100dvh - 3.5rem)" width="1080" height="1920">
           -->

      <!-- video preview bottom - no real video -->
      <img #videoBottom [src]="svWebinar.bsUnitThumbnailNext.value !== null ? svWebinar.bsUnitThumbnailNext.value : svWebinar.bsUnitThumbnailLast.value"
           style="object-fit: cover; position: relative; width: 100%; z-index: 2; height: calc(100lvh - 3.5rem)" width="1080" height="1920">

    </div>


    <!-- centered play icon -->


    <div #vPlay style="position:absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0;">
      <mat-icon class="is-xxl ic-light" fontIcon="play_circle_filled"></mat-icon>
    </div>

    <!-- centered pause icon -->
    <div #vPause style="position:absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0;">
      <mat-icon class="is-xxl ic-light" fontIcon="pause_circle_filled"></mat-icon>
    </div>
  </div>
</div>















