@import "../../../../../global";
@import "../../../../../theme/variables";

// menu
.menu {
  @extend .scroll-horizontal;
  display: flex;
}

.menu-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.menu-title {
  font-size: 1rem;
  color: $colorTextSecondary;
  font-weight: $bold;
  text-align: center;
}

.menu-title-select {
  @extend .menu-title;
  color: $colorTextPrimary;
}

.menu-selector {
  width: 100%;
  height: 0.1rem;
  border-radius: 5rem;
  background-color: $colorTextPrimary;
  margin-top: 0.5rem;
}

.menu-divider {
  height: 0.5px;
  background-color: rgb(54, 54, 54);
  width: 100%;
}

.title {
  @extend .ts-xl;
  @extend .tc-primary;
  @extend .tw-bold;
  margin-bottom: 1rem;
}

.subtitle {
  @extend .ts-l;
  @extend .tc-primary;
  @extend .tw-bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.button-next-container {
  transform: translateY(-50%);
  display: flex;
  width: 100%;
}

.button-next {
  @extend .b-1-dark;
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  padding: 0rem;
}

.button-next-text {
  @extend .b-1-dark;
  height: 2rem;
  width: auto;
  visibility: hidden;
  border: 1px solid white;
}

.button-icon {
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  text-align: center;
}

.video-container {
    position: relative;
}

#video-container:-moz-full-screen {height:100%}
#video-container:-webkit-full-screen {height:100%}
#video-container:-ms-fullscreen {height:100%}
#video-container:fullscreen {height:100%}
