<app-title (outputBack)="onBack()" [bBack]=true [cTitle]="'Passwort zurücksetzen'"></app-title>
<div class="window">
  <div class="spv-05"></div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <p class="i-label">Neues Passwort</p>
    <input class="i" formControlName="cPassword" type="email" placeholder="Bitte neues Passwort eingeben...">

    <div class="spv-025"></div>

    <div class="input-info-container">
      <p *ngIf="bSubmitted && errorControl.cPassword.errors?.['required']" class="input-info-text-error">Bitte
        Passwort eingeben</p>
    </div>

    <div class="spv-2"></div>

    <button class="b-1-light" type="submit">Neues Passwort speichern</button>

  </form>
</div>
