<div class="content-below-menu">
  <div class="page-horizontal page-vertical">
    <div class="section-horizontal section-vertical">
      <p class="title">Passwort zurücksetzen</p>

      <div class="spv-05"></div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <input label="Passwort" labelPlacement="floating" formControlName="cPassword" type="email">


        <div class="spv-025"></div>

        <div class="input-info-container">
          <p *ngIf="bSubmitted && errorControl.cPassword.errors?.['required']" class="input-info-text-error">Bitte
            Passwort eingeben</p>
        </div>

        <div class="spv-1"></div>

        <button class="b-1-primary" type="submit">Neues Passwort speichern</button>

      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
