@import "../../../theme/variables";
@import "../../../global";

$sizeIcon: 2rem;

.container {
  @extend .page-horizontal;
  @extend .section-horizontal;
  height: $heightMenu;
  background: $colorWhite;
  display: flex;
  align-items: center;
}

.logo {
  height: $heightMenu;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.logo-desktop {
  height: $heightMenu;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.icon {
  font-size: $sizeIcon;
  color: $colorPrimary;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

button {
  width: auto;
  margin: 1rem;
}

.text {
  @extend .t-s;
  cursor: pointer;
  padding: 1rem;

  &:hover {
    @extend .tc-primary_;
  }
}


