<app-title [cTitle]="'Impressum'" [bBack]="true"></app-title>

<main class="window scroll-vertical">

      <p class="t-standard tc-light">Eric Schumacher</p>
      <p class="t-standard tc-light-two">Webcoach</p>
      <p class="t-standard tc-light-two">Dünnwalder Mauspfad 348</p>
      <p class="t-standard tc-light-two">51069 Köln</p>

      <div class="spv-1"></div>

      <p class="t-standard tc-light"><span>E-Mail:</span> staff&#64;webcoach.digital</p>
      <p class="t-standard tc-light-two"><span>Telefonnummer:</span> 49-(0)152-52337988</p>
      <p class="t-standard tc-light-two"><span>Website:</span> www.webcoach.digital</p>

      <div class="spv-1"></div>

      <p class="t-standard tc-light tw-bold">Verweis auf Streitschlichtungsbehörde</p>
      <p class="t-standard tc-light-two">Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit. Die
        Plattform finden Sie unter https://ec.europa.eu/consumers/odr/. Bei Beschwerden melden Sie sich bitte unter
        staff&#64;webcoach.digital.</p>



</main>
<app-footer></app-footer>
