<app-title [cTitle]="'Datenschutzerklärung'" [bBack]="true"></app-title>


<main class="window scroll-vertical">
  <span style="font-size:14px;">Soweit nachstehend keine anderen Angaben gemacht werden, ist die Bereitstellung Ihrer personenbezogenen Daten weder gesetzlich oder vertraglich vorgeschrieben, noch für einen Vertragsabschluss erforderlich. Sie sind zur Bereitstellung der Daten nicht verpflichtet. Eine Nichtbereitstellung hat keine Folgen. Dies gilt nur soweit bei den nachfolgenden Verarbeitungsvorgängen keine anderweitige Angabe gemacht wird.<br>
"Personenbezogene Daten" sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person beziehen.</span><br>
  <br>
  <div>
    <strong><span style="font-size:14px;">Server-Logfiles</span></strong></div>
  <div>
      <span
        style="font-size:14px;">Sie können unsere Webseiten besuchen, ohne Angaben zu Ihrer Person zu machen.&nbsp;</span>
  </div>
  <div>
    <span style="font-size:14px;">Bei jedem Zugriff auf unsere Website werden an uns oder unseren Webhoster / IT-Dienstleister Nutzungsdaten durch Ihren Internet Browser übermittelt und in Protokolldaten (sog. Server-Logfiles) gespeichert. Zu diesen gespeicherten Daten gehören z.B. der Name der aufgerufenen Seite, Datum und Uhrzeit des Abrufs, die IP-Adresse, die übertragene Datenmenge und der anfragende Provider. Die Verarbeitung erfolgt auf Grundlage des Art. 6 Abs. 1 lit. f DSGVO aus unserem überwiegenden berechtigten Interesse an der Gewährleistung eines störungsfreien Betriebs unserer Website sowie zur Verbesserung unseres Angebotes.&nbsp;</span><br>
    &nbsp;
  </div>
  <span style="font-size:20px;"><em><strong>Kontakt</strong></em></span><br>
  <br>
  <span style="font-size: 14px;"><strong>Verantwortlicher</strong></span><strong><span
  style="font-size: 14px;"></span></strong><br>
  <span style="font-size: 14px;">Kontaktieren Sie uns auf Wunsch.&nbsp;Verantwortlicher für die Datenverarbeitung ist:&nbsp;</span><span
  style="font-size: 14px;">Eric Schumacher&nbsp;</span><span
  style="font-size: 14px;">Christianstraße 1,&nbsp;</span><span
  style="font-size: 14px;">50825&nbsp;</span><span style="font-size: 14px;">Köln&nbsp;</span><span
  style="font-size: 14px;">Deutschland,&nbsp;</span><span style="font-size: 14px;">015252337988,&nbsp;</span><span
  style="font-size: 14px;">ericschumacher@outlook.de</span><br>
  <br>
  <br>
  <p dir="ltr">
	<span style="font-size:14px;"><strong>Initiativ-Kontaktaufnahme des Kunden per E-Mail</strong><br>
	Wenn Sie per E-Mail initiativ mit uns in Geschäftskontakt treten, erheben wir Ihre personenbezogenen Daten (Name, E-Mail-Adresse, Nachrichtentext) nur in dem von Ihnen zur Verfügung gestellten Umfang. Die Datenverarbeitung dient der Bearbeitung und Beantwortung Ihrer Kontaktanfrage.<br>
	Wenn die Kontaktaufnahme der Durchführung vorvertraglichen Maßnahmen (bspw. Beratung bei Kaufinteresse, Angebotserstellung) dient oder einen bereits zwischen Ihnen und uns geschlossenen Vertrag betrifft, erfolgt diese Datenverarbeitung auf Grundlage des Art. 6 Abs. 1 lit. b DSGVO.<br>
	Erfolgt die Kontaktaufnahme aus anderen Gründen erfolgt diese Datenverarbeitung auf Grundlage des Art. 6 Abs. 1 lit. f DSGVO aus unserem überwiegenden berechtigten Interesse an der Bearbeitung und Beantwortung Ihrer Anfrage. <em><strong>In diesem Fall haben Sie das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit dieser auf Art. 6 Abs. 1 lit. f DSGVO beruhenden Verarbeitungen Sie betreffender personenbezogener Daten zu widersprechen.</strong></em><br>
	Ihre E-Mail-Adresse nutzen wir nur zur Bearbeitung Ihrer Anfrage. Ihre Daten werden anschließend unter Beachtung gesetzlicher Aufbewahrungsfristen gelöscht, sofern Sie der weitergehenden Verarbeitung und Nutzung nicht zugestimmt haben.</span><br>
    &nbsp;</p>
  <span style="font-size:14px;"><strong>Erhebung und Verarbeitung bei Nutzung des Kontaktformulars </strong><br>
Bei der Nutzung des Kontaktformulars erheben wir Ihre personenbezogenen Daten (Name, E-Mail-Adresse, Nachrichtentext) nur in dem von Ihnen zur Verfügung gestellten Umfang. Die Datenverarbeitung dient dem Zweck der Kontaktaufnahme.</span><br>
  <span style="font-size: 14px;">Wenn die Kontaktaufnahme der Durchführung vorvertraglichen Maßnahmen (bspw. Beratung bei Kaufinteresse, Angebotserstellung) dient oder einen bereits zwischen Ihnen und uns geschlossenen Vertrag betrifft, erfolgt diese Datenverarbeitung auf Grundlage des Art. 6 Abs. 1 lit. b DSGVO.</span><br
  style="font-size: 14px;">
  <span style="font-size: 14px;">Erfolgt die Kontaktaufnahme aus anderen Gründen erfolgt diese Datenverarbeitung auf Grundlage des Art. 6 Abs. 1 lit. f DSGVO aus unserem überwiegenden berechtigten Interesse an der Bearbeitung und Beantwortung Ihrer Anfrage.&nbsp;</span><em
  style="font-size: 14px;"><strong>In diesem Fall haben Sie das Recht, aus Gründen, die sich aus Ihrer besonderen
  Situation ergeben, jederzeit dieser auf Art. 6 Abs. 1 lit. f DSGVO beruhenden Verarbeitungen Sie betreffender
  personenbezogener Daten zu widersprechen.</strong></em><br style="font-size: 14px;">
  <span style="font-size: 14px;">Ihre E-Mail-Adresse nutzen wir nur zur Bearbeitung Ihrer Anfrage. Ihre Daten werden anschließend unter Beachtung gesetzlicher Aufbewahrungsfristen gelöscht, sofern Sie der weitergehenden Verarbeitung und Nutzung nicht zugestimmt haben.</span><br>
  <br>
  <br>
  <span style="font-size:20px;"><strong><em></em></strong></span><span
  style="font-size:20px;"><strong><em></em></strong></span><span style="font-size:20px;"><strong><em> Werbung&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong></span><br>
  <br>
  <span
    style="font-size:14px;"><strong>Verwendung der E-Mail-Adresse für die Zusendung von Newslettern</strong><br>
Wir nutzen Ihre E-Mail-Adresse unabhängig von der Vertragsabwicklung ausschließlich für eigene Werbezwecke zum Newsletterversand, sofern Sie dem ausdrücklich zugestimmt haben. Die Verarbeitung erfolgt auf Grundlage des Art. 6 Abs. 1 lit. a DSGVO mit Ihrer Einwilligung. Sie können die Einwilligung jederzeit widerrufen, ohne dass die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung berührt wird. Sie können dazu den Newsletter jederzeit unter Nutzung des entsprechenden Links im Newsletter oder durch Mitteilung an uns abbestellen. Ihre E-Mail-Adresse wird danach aus dem Verteiler entfernt.&nbsp;</span><br>
  <br>
  <span style="font-size:14px;">Ihre Daten werden dabei an einen Dienstleister für E-Mail-Marketing im Rahmen einer Auftragsverarbeitung weitergegeben. Eine Weitergabe an sonstige Dritte erfolgt nicht.</span><br>
  <br>
  <div>
    <br>
    <span style="font-size:20px;"><strong><em>Cookies</em></strong></span></div>
  <div>
    &nbsp;
  </div>
  <div>
    <span style="font-size:14px;">Unsere Website verwendet Cookies. Cookies sind kleine Textdateien, die im Internetbrowser bzw. vom Internetbrowser auf dem Computersystem eines Nutzers gespeichert werden. Ruft ein Nutzer eine Website auf, so kann ein Cookie auf dem Betriebssystem des Nutzers gespeichert werden. Dieser Cookie enthält eine charakteristische Zeichenfolge, die eine eindeutige Identifizierung des Browsers beim erneuten Aufrufen der Website ermöglicht.</span>
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    <span style="font-size:14px;">Cookies werden auf Ihrem Rechner gespeichert. Daher haben Sie die volle Kontrolle über die Verwendung von Cookies. Durch die Auswahl entsprechender technischer Einstellungen in Ihrem Internetbrowser können Sie vor dem Setzen von Cookies benachrichtigt werden und über die Annahme einzeln entscheiden sowie die Speicherung der Cookies und Übermittlung der enthaltenen Daten verhindern. Bereits gespeicherte Cookies können jederzeit gelöscht werden. Wir weisen Sie jedoch darauf hin, dass Sie dann gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.</span>
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    <span style="font-size:14px;">Unter den nachstehenden Links können Sie sich informieren, wie Sie die Cookies bei den wichtigsten Browsern verwalten (u.a. auch deaktivieren) können:</span>
  </div>
  <div>
	<span style="font-size:14px;">Chrome: <a href="https://support.google.com/accounts/answer/61416?hl=de"
                                           target="_blank">https://support.google.com/accounts/answer/61416?hl=de</a><br>
	Internet Explorer: <a
      href="https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies"
      target="_blank">https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</a></span>
  </div>
  <div>
      <span style="font-size:14px;">Mozilla Firefox: <a
        href="https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen" target="_blank">https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen</a></span>
  </div>
  <div>
      <span style="font-size:14px;">Safari: <a
        href="https://support.apple.com/de-de/guide/safari/manage-cookies-and-website-data-sfri11471/mac"
        target="_blank">https://support.apple.com/de-de/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a></span>
  </div>
  <div>
    <br>
    &nbsp;
  </div>
  <div>
    <strong><span style="font-size:14px;">Technisch notwendige Cookies</span></strong></div>
  <div>
    <span style="font-size:14px;">Soweit nachstehend in der Datenschutzerklärung keine anderen Angaben gemacht werden setzen wir nur diese technisch notwendigen Cookies zu dem Zweck ein, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Des Weiteren ermöglichen Cookies unseren Systemen, Ihren Browser auch nach einem Seitenwechsel zu erkennen und Ihnen Services anzubieten. Einige Funktionen unserer Internetseite können ohne den Einsatz von Cookies nicht angeboten werden. Für diese ist es erforderlich, dass der Browser auch nach einem Seitenwechsel wiedererkannt wird.</span>
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    <span style="font-size:14px;">Die Nutzung von Cookies oder vergleichbarer Technologien erfolgt auf Grundlage des § 25 Abs. 2 TTDSG. Die Verarbeitung Ihrer personenbezogenen Daten erfolgt auf Grundlage des Art. 6 Abs. 1 lit. f DSGVO aus unserem überwiegenden berechtigten Interesse&nbsp;an der Gewährleistung der optimalen Funktionalität der Website sowie einer nutzerfreundlichen und effektiven Gestaltung unseres Angebots.</span>
  </div>
  <div>
    <span style="font-size:14px;"><em><strong>Sie haben das Recht aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit dieser Verarbeitungen Sie betreffender personenbezogener Daten zu widersprechen.</strong></em></span><br>
    &nbsp;
  </div>
  <br>
  <span style="font-size:20px;"><em><strong>Analyse&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></em></span><br>
  <br>
  <span style="font-size:14px;"><strong>Verwendung von Adobe Analytics</strong><br>
Wir verwenden auf unserer Website den Webanalysedienst Adobe Analytics der Adobe Systems Incorporated (345 Park Avenue, San Jose, CA 95110, USA; „Adobe“).<br>
Die Datenverarbeitung dient dem Zweck der Analyse dieser Website und des Nutzerverhaltens ihrer Besucher sowie für Marketing- und Werbezwecke. Dazu werden Cookies eingesetzt, die eine Wiedererkennung des Browsers und somit genauere Statistiken ermöglichen. Folgende Informationen können dabei erhoben und an Adobe übermittelt werden: IP-Adresse, Datum und Uhrzeit des Seitenaufrufs, Klickpfad, Informationen über den von Ihnen verwendeten Browser und das von Ihnen verwendete Gerät, Informationen zum verwendeten Betriebssystem, besuchte Seiten, Referrer-URL (Webseite, über die Sie unsere Webseite aufgerufen haben), Standortdaten, Kaufaktivitäten. Adobe nutzt die gewonnenen Informationen in unserem Auftrag, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere, mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen.<br>
Die erhobenen Daten werden in der Regel an Server von Adobe in den USA übertragen und dort gespeichert.&nbsp;Für die USA ist kein Angemessenheitsbeschluss der EU-Kommission vorhanden. Die Datenübermittlung erfolgt u.a auf Grundlage von Standardvertragsklauseln&nbsp;als geeignete Garantien für den Schutz der personenbezogenen Daten. Eine Kopie der Standardvertragsklauseln stellen wir Ihnen auf Anfrage zur Verfügung.<br>
Adobe hat die IP-Verschleierung aktiviert. Dadurch wird Ihre IP-Adresse von Adobe innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum irreversibel anonymisiert.<br>
Die Verarbeitung Ihrer personenbezogenen Daten erfolgt auf Grundlage des Art. 6 Abs. 1 lit. f DSGVO aus unserem überwiegenden berechtigten Interesse an der bedarfsgerechten und zielgerichteten Gestaltung der Website.<em><strong> Sie haben das Recht aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit dieser Verarbeitungen Sie betreffender personenbezogener Daten zu widersprechen.</strong></em><br>
Um die Datenerfassung und -speicherung durch Adobe geräteübergreifend zu verhindern, können Sie unter <a
      href="https://www.adobe.com/de/privacy/opt-out.html#customeruse" target="_blank">https://www.adobe.com/de/privacy/opt-out.html#customeruse</a> einen Opt-out-Cookie setzen. Opt-out-Cookies verhindern die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website. Sie müssen das Opt-Out auf allen genutzten Systemen und Geräten durchführen, damit dies umfassend wirkt. Wenn Sie das Opt-out-Cookie löschen, werden wieder Anfragen an Adobe übermittelt. Alternativ können Sie die Verwendung von Cookies durch Drittanbieter verhindern, indem Sie die Deaktivierungsseite der Netzwerkwerbeinitiative (Network Advertising Initiative) unter <a
      href="https://www.networkadvertising.org/choices/"
      target="_blank">https://www.networkadvertising.org/choices/</a> aufrufen und die dort genannten weiterführenden Information zum Opt-Out umsetzen. Sie werden sodann nicht in die Conversion-Tracking Statistiken aufgenommen.<br>
Nähere Informationen zur Datenverarbeitung und zum Datenschutz bei Adobe Analytics finden Sie unter&nbsp;<a
      href="https://www.adobe.com/de/privacy.html">https://www.adobe.com/de/privacy.htm</a><a
      href="https://www.adobe.com/de/privacy.html" target="_blank">l</a>, unter&nbsp;<a
      href="https://www.adobe.com/de/analytics/general-data-protection-regulation.html">https://www.adobe.com/de/analytics/general-data-protection-regulation.htm</a><a
      href="https://www.adobe.com/de/analytics/general-data-protection-regulation.html" target="_blank">l</a> sowie unter <a
      href="https://docs.adobe.com/content/help/de-DE/analytics/technotes/privacy-overview.html">https://docs.adobe.com/content/help/de-DE/analytics/technotes/privacy-overview.html</a></span><br>
  <div>
    &nbsp;
  </div>
  <span style="font-size:14px;"><strong>Verwendung von Google Analytics</strong></span><br>
  <span style="font-size: 14px;">Wir verwenden auf unserer Website den Webanalysedienst Google Analytics der Google Google Ireland Limited (Gordon House, Barrow Street, Dublin 4, Irland; „Google“).</span><br>
  <span style="font-size:14px;">Die Datenverarbeitung dient dem Zweck der Analyse dieser Website und ihrer Besucher sowie für Marketing- und Werbezwecke. Dazu wird Google im Auftrag des Betreibers dieser Website die gewonnenen Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere, mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Dabei können u.a. folgende Informationen erhoben werden: IP-Adresse, Datum und Uhrzeit des Seitenaufrufs, Klickpfad, Informationen über den von Ihnen verwendeten Browser und das von Ihnen verwendete Device (Gerät), besuchte Seiten, Referrer-URL (Webseite, über die Sie unsere Webseite aufgerufen haben), Standortdaten, Kaufaktivitäten. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.<br>
Google Analytics verwendet Technologien wie Cookies, Webspeicher im Browser und Zählpixel, die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die dadurch erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.&nbsp;Für die USA ist kein Angemessenheitsbeschluss der EU-Kommission vorhanden. Die Datenübermittlung erfolgt u.a auf Grundlage von Standardvertragsklauseln&nbsp;als geeignete Garantien für den Schutz der personenbezogenen Daten, einsehbar unter: <a
      href="https://policies.google.com/privacy/frameworks" target="_blank">https://policies.google.com/privacy/frameworks</a> und <a
      href="https://business.safety.google/adsprocessorterms/">https://business.safety.google/adsprocessorterms/.</a> Sowohl Google als auch staatliche US-Behörden haben Zugriff auf Ihre Daten. Ihre Daten können von Google mit anderen Daten, wie beispielsweise Ihrem Suchverlauf, Ihren persönlichen Accounts, Ihren Nutzungsdaten anderer Geräte und allen anderen Daten, die Google zu Ihnen vorliegen hat, verknüpft werden.<br>
Auf dieser Website ist die IP-Anonymisierung aktiviert. Dadurch wird Ihre IP-Adresse von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.<br>
Die Verarbeitung Ihrer personenbezogenen Daten erfolgt auf Grundlage des Art. 6 Abs. 1 lit. f DSGVO aus unserem überwiegenden berechtigten Interesse an der bedarfsgerechten und zielgerichteten Gestaltung der Website. <em><strong>Sie haben das Recht aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit dieser Verarbeitungen Sie betreffender personenbezogener Daten zu widersprechen.</strong></em><br>
Sie können die Erfassung der durch Google Analytics erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plug-in herunterladen und installieren: <a
      href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=de</a><br>
Um die Datenerfassung und -speicherung durch Google Analytics geräteübergreifend zu verhindern, können Sie einen Opt-Out-Cookie setzen. Opt-Out-Cookies verhindern die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website. Sie müssen das Opt-Out auf allen genutzten Systemen und Geräten durchführen, damit dies umfassend wirkt. Wenn Sie das Opt-out-Cookie löschen, werden wieder Anfragen an Google übermittelt. Wenn Sie hier klicken, wird das Opt-Out-Cookie gesetzt: <a
      href="javascript:gaOptout()" id="ga-opt-out">Google Analytics deaktivieren</a>.<br>
Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter <a
      href="https://www.google.com/analytics/terms/de.html" target="_blank">https://www.google.com/analytics/terms/de.html</a> bzw. unter <a
      href="https://www.google.de/intl/de/policies/" target="_blank">https://www.google.de/intl/de/policies/</a> sowie unter <a
      href="https://policies.google.com/technologies/cookies?hl=de" target="_blank">https://policies.google.com/technologies/cookies?hl=de</a>.</span><br>
  <div>
    &nbsp;
  </div>
  <br>
  <span style="font-size:20px;"><strong><em>Plug-ins und Sonstiges</em></strong></span><br>
  <br>
  <div>
	<span style="font-size:14px;"><strong>Verwendung des Google Tag Managers</strong><br>
	Wir verwenden auf unserer Website den Google Tag Manager der Google Ireland Limited (Gordon House, Barrow Street, Dublin 4, Irland; "Google").&nbsp;<br>
	Mit dieser Anwendung werden JavaScript-Tags und HTML-Tags verwaltet, die zur Implementierung insbesondere von Tracking- und Analyse-Tools verwendet werden. Die Datenverarbeitung dient dem Zweck der bedarfsgerechten Gestaltung und der Optimierung unserer Website.<br>
	Der Google Tag Manager selbst speichert weder Cookies noch werden hierdurch personenbezogene Daten verarbeitet. Er ermöglicht jedoch die Auslösung weiterer Tags, die personenbezogene Daten erheben und verarbeiten können.<br>
	Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie <a
      href="https://www.google.com/intl/de/tagmanager/use-policy.html" target="_blank">hier</a>.</span><br>
    &nbsp;
  </div>
  <div>
    <strong><span style="font-size:14px;">Verwendung von OpenStreetmap</span></strong></div>
  <div>
    <span style="font-size:14px;">Wir verwenden auf unserer Website den Open-Source-Mapping-Dienst der OpenStreetMap Foundation (St John’s Innovation Centre, Cowley Road, Cambridge, CB4 0WS, United Kingdom; „OpenStreetmap“). Die Datenverarbeitung dient dem Zweck der visuellen Darstellung von geographischen Informationen und Landkarten um Ihnen unseren Standort darzustellen.&nbsp;</span>
  </div>
  <div>
    <span style="font-size:14px;">Hierbei können Cookies eingesetzt werden. Unter anderem können folgende Informationen erhoben und verarbeitet werden: Datum und Uhrzeit des Aufrufs, IP-Adresse sowie Informationen zu dem von Ihnen genutzten Browser und Gerät. Diese Informationen werden Ihrem persönlichen Benutzerkonto zugeordnet, falls Sie ein Benutzerkonto bei OpenStreetMap haben und beim Besuch der Webseite dort angemeldet sind. In dem Fall werden u.a. folgende zusätzliche Informationen erhoben und verarbeitet: User ID, E-Mail-Adresse, welche dem Benutzerkonto zugeordnet ist sowie vom Benutzer blockierte Inhalte.</span>
  </div>
  <div>
    <span style="font-size:14px;">Ihre Daten werden dabei gegebenenfalls auch außerhalb der EU in die das Vereinigte Königreich übermittelt. Für das Vereinigte Königreich ist ein Angemessenheitsbeschluss der EU-Kommission vorhanden.</span>
  </div>
  <div>
      <span style="font-size:14px;">Die Nutzung von Cookies oder vergleichbarer Technologien erfolgt mit Ihrer Einwilligung auf Grundlage des § 25 Abs. 1 S. 1 TTDSG i.V.m. Art. 6 Abs. 1 lit. a DSGVO. Die Verarbeitung Ihrer personenbezogenen Daten erfolgt mit Ihrer Einwilligung auf Grundlage des Art. 6 Abs. 1 lit. a DSGVO. Sie können die Einwilligung jederzeit widerrufen, ohne dass die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung berührt wird.&nbsp;Nähere Informationen zur Datenverarbeitung und zum Datenschutz finden Sie unter:&nbsp;<a
        href="https://wiki.osmfoundation.org/wiki/Privacy_Policy?tid=331640695983">https://wiki.osmfoundation.org/wiki/Privacy_Policy?tid=331640695983</a>.</span><br>
    &nbsp;
  </div>
  <span style="font-size:14px;"><strong>Verwendung von Vimeo </strong><br>
Wir verwenden auf unserer Website Plug-ins der Vimeo Inc. (555 West 18th Street New York, New York 10011, USA; “Vimeo”) zur Einbindung von Videos des Portals “Vimeo”.<br>
Wenn Sie mit einem solchen Plug-in versehene Seiten unserer Website aufrufen, wird eine Verbindung zu den Servern von Vimeo hergestellt und dabei das Plug-in durch Mitteilung an Ihren Browser auf der Seite dargestellt. Hierdurch wird an die Server von Vimeo sowohl Ihre IP-Adresse als auch die Information, welche unserer Seiten Sie besucht haben, übermittelt.<br>
Sind Sie dabei bei Vimeo eingeloggt, ordnet Vimeo diese Information Ihrem persönlichen Benutzerkonto zu. Bei der Nutzung der Plug-in-Funktionen (z.B. durch Start eines Videos durch Betätigung des entsprechenden Buttons) werden auch diese Informationen Ihrem Vimeo-Konto zugeordnet.<br>
Ihre Daten werden gegebenenfalls in die USA übermittelt.&nbsp;Für die USA ist kein Angemessenheitsbeschluss der EU-Kommission vorhanden. Die Datenübermittlung erfolgt u.a auf Grundlage von Standardvertragsklauseln als geeignete Garantien für den Schutz der personenbezogenen Daten, einsehbar unter: <a
      href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/standard-contractual-clauses-scc_de"
      target="_blank">https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/standard-contractual-clauses-scc_de</a>.<br>
Die Nutzung von Cookies oder vergleichbarer Technologien erfolgt mit Ihrer Einwilligung auf Grundlage des § 25 Abs. 1 S. 1 TTDSG i.V.m. Art. 6 Abs. 1 lit. a DSGVO. Die Verarbeitung Ihrer personenbezogenen Daten erfolgt mit Ihrer Einwilligung auf Grundlage des Art. 6 Abs. 1 lit. a DSGVO. Sie können die Einwilligung jederzeit widerrufen, ohne dass die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung berührt wird.<br>
Nähere Informationen zu Zweck und Umfang der Erhebung sowie zur weiter gehenden Nutzung und Verarbeitung der Daten durch Vimeo sowie über Ihre diesbezüglichen Rechte und Möglichkeiten zum Schutz Ihrer Privatsphäre finden Sie in den Datenschutzhinweisen von Vimeo: <a
      href="https://vimeo.com/privacy" target="_blank">https://vimeo.com/privacy</a></span><br>
  <br>
  <span style="font-size: 14px;"><strong>Verwendung von Google Fonts</strong><br>
Wir verwenden auf unserer Website Google Fonts der Google Ireland Limited (Gordon House, Barrow Street, Dublin 4, Irland; “Google”).<br>
Die Datenverarbeitung dient dem Zweck der einheitlichen Darstellung von Schriftarten auf unserer Website. Um die Schriftarten zu laden, wird beim Seitenaufruf eine Verbindung zu Servern von Google hergestellt. Hierbei können Cookies eingesetzt werden. Dabei wird u.a. Ihre IP-Adresse sowie Informationen zu dem von Ihnen genutzten Browser verarbeitet und an Google übermittelt. Diese Daten werden nicht mit Ihrem Google-Konto verknüpft.</span><br>
  <span style="font-size:14px;">Ihre Daten werden gegebenenfalls in die USA übermittelt. Für die USA ist kein Angemessenheitsbeschluss der EU-Kommission vorhanden. Die Datenübermittlung erfolgt u.a auf Grundlage von Standardvertragsklauseln als geeignete Garantien für den Schutz der personenbezogenen Daten, einsehbar unter:&nbsp;<a
    href="https://policies.google.com/privacy/frameworks" target="_blank">https://policies.google.com/privacy/frameworks</a>.<br>
Die Nutzung von Cookies oder vergleichbarer Technologien erfolgt mit Ihrer Einwilligung auf Grundlage des § 25 Abs. 1 S. 1 TTDSG i.V.m. Art. 6 Abs. 1 lit. a DSGVO. Die Verarbeitung Ihrer personenbezogenen Daten erfolgt mit Ihrer Einwilligung auf Grundlage des Art. 6 Abs. 1 lit. a DSGVO. Sie können die Einwilligung jederzeit widerrufen, ohne dass die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung berührt wird.</span><br>
  <span style="font-size: 14px;">Nähere Informationen zur Datenverarbeitung und zum Datenschutz finden Sie unter&nbsp;<a
    href="https://www.google.de/intl/de/policies/" target="_blank">https://www.google.de/intl/de/policies/</a>&nbsp;sowie unter&nbsp;<a
    href="https://developers.google.com/fonts/faq"
    target="_blank">https://developers.google.com/fonts/faq</a>.</span><br>
  <br>
  <br>
  <span style="font-size:20px;"><strong><em>Betroffenenrechte und Speicherdauer</em></strong></span><br>
  <br>
  <strong><span style="font-size:14px;">Dauer der Speicherung</span></strong>
  <div>
    <span style="font-size:14px;">Die Daten werden unter Berücksichtigung gesetzlicher Aufbewahrungsfristen gespeichert und dann nach Fristablauf gelöscht, sofern Sie der weitergehenden Verarbeitung und Nutzung nicht zugestimmt haben.</span><br>
    &nbsp;
  </div>
  <span style="font-size:14px;"><strong>Rechte der betroffenen Person</strong><br>
Ihnen stehen bei Vorliegen der gesetzlichen Voraussetzungen folgende Rechte nach Art. 15 bis 20 DSGVO zu: Recht auf Auskunft, auf Berichtigung, auf Löschung, auf Einschränkung der Verarbeitung, auf Datenübertragbarkeit.<br>
Außerdem steht Ihnen nach Art. 21 Abs. 1 DSGVO ein Widerspruchsrecht gegen die Verarbeitungen zu, die auf Art. 6 Abs. 1 f DSGVO beruhen, sowie gegen die Verarbeitung zum Zwecke von Direktwerbung.</span><br>
  <br>
  <span style="font-size:14px;"><strong>Beschwerderecht bei der Aufsichtsbehörde</strong><br>
Sie haben gemäß Art. 77 DSGVO das Recht, sich bei der Aufsichtsbehörde zu beschweren, wenn Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen Daten nicht rechtmäßig erfolgt.</span><br>
  <br>
  <span style="font-size:14px;"><strong>Widerspruchsrecht</strong><br>
Beruhen die hier aufgeführten personenbezogenen Datenverarbeitungen auf Grundlage unseres berechtigten Interesses nach Art. 6 Abs. 1 lit. f DSGVO, haben Sie das Recht aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit diesen Verarbeitungen mit Wirkung für die Zukunft zu widersprechen.<br>
Nach erfolgtem Widerspruch wird die Verarbeitung der betroffenen Daten beendet, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihren Interessen, Rechten und Freiheiten überwiegen, oder wenn die Verarbeitung der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen dient.</span><br>
  <br>


  <span style="font-size:20px;"><strong><em>Newsletter</em></strong></span><br>
  <br>
  <strong><span style="font-size:14px;">Beschreibung und Umfang der Datenverarbeitung</span></strong>
  <div>
      <span style="font-size:14px;">Auf unserer Internetseite besteht die Möglichkeit einen kostenfreien Newsletter zu abon-
nieren. Dabei werden bei der Anmeldung zum Newsletter die Daten aus der Eingabemas-
ke an uns übermittelt.

Die auf diese Weise erhobenen Daten sind:

• Vor- und Nachname des Nutzers
• E-Mail-Adresse des Nutzers
• Zeitpunkt der Anmeldung

Für die Verarbeitung der Daten wird im Rahmen des Anmeldevorgangs Ihre Einwilligung
eingeholt und auf diese Datenschutzerklärung verwiesen.

Zur Anmeldung zu unserem Newsletter nutzen wir das sog. Double-Opt-In-Verfahren. So-
bald der Nutzer sich auf unserer Seite angemeldet hat, erhält er eine E-Mail, in der um die
Bestätigung der Anmeldung gebeten wird. Hierdurch wollen wir verhindern, dass sich nie-
mand mit fremden E-Mail-Adressen anmelden kann.

Wenn Sie auf unserer Internetseite Waren oder Dienstleistungen erwerben und hierbei
Ihre E-Mail-Adresse hinterlegen, kann diese in der Folge durch uns für den Versand eines
Newsletters verwendet werden. In einem solchen Fall wird über den Newsletter aus-
schließlich Direktwerbung für eigene ähnliche Waren oder Dienstleistungen versendet.

Die Daten werden ausschließlich für den Versand des Newsletters verwendet.</span><br>
    &nbsp;
  </div>
  <span style="font-size:14px;"><strong>Einsatz des Versand-Dienstleisters MailChimp</strong><br>
Unsere Newsletter werden mithilfe von „MailChimp“ – einem Newsletter-Dienstleister –
versendet. Es handelt sich hierbei um eine Newsletterversandplattform der The Rocket
Science Group LLC, 675 Ponce de Leon Ave NE Suite 5000 Atlanta, GA 30308 USA.

All die von uns erfassten Daten werden auf den Servern von MailChimp gespeichert. Die
Daten werden von MailChimp zum Versand und zur Auswertung des Newsletters genutzt.
Darüber hinaus kann MailChimp die Daten zur Optimierung des eigenen Service nutzen
(bspw. Darstellung der Newsletter, zur Bestimmung aus welchen Ländern die Empfänger
kommen usw.). Allerdings nutzt MailChimp die Daten nicht, um die Empfänger selber an-
zuschreiben oder die Daten an Dritte weiterzuleiten.

MailChimp ist unter dem EU-US-Datenschutzabkommen „EU-US-Privacy Shield“ zertifi-
ziert. Durch diese Zertifizierung verpflichtet sich MailChimp die EU-Datenschutzvorgaben
einzuhalten. Weiterhin haben wir mit MailChimp ein „Data-Processing-Agreement“ ge-
schlossen. Dies ist ein Vertrag, der MailChimp dazu verpflichtet, die Daten der Nutzer zu
schützen, die Daten der Nutzer nur entsprechend unserer Datenschutzbestimmungen zu
verarbeiten und die Daten der Nutzer nicht an Dritte weiterzugeben.</span><br>
  <span style="font-size:14px;"><strong>Statistische Erhebung und Analysen</strong><br>
Jeder Newsletter enthält einen sog. „web-beacon“. Hierbei handelt es sich um eine pixel-
große Datei, die von MailChimp beim Öffnen des Newsletters abgerufen wird. Dadurch
erhält MailChimp technische Informationen, wie

* die IP-Adresse des Nutzers,
* Informationen zum Browser und zum System des Nutzers,
* den Zeitpunkt des Abrufs,
* Datum des letzten Profil-Updates, sowie
* die Sprachinformation.

Diese Daten werden zur technischen Verbesserung des Service genutzt.

Darüber hinaus wird mittels der „web-beacons“ festgestellt, ob die Newsletter geöffnet
wurden, wann sie geöffnet werden und welche Links angeklickt werden. Es ist zwar mög-
lich, die Daten einzelnen Nutzern zuzuordnen, jedoch wollen weder wir noch MailChimp
die einzelnen Nutzer beobachten. Es sollen lediglich die Lesegewohnheiten der Nutzer
erkannt werden, um die Inhalte auf die Nutzer anzupassen. Es sollten unterschiedliche
Inhalte entsprechend den Interessen unserer Nutzer versendet werden.</span><br><br>
  <span style="font-size:14px;"><strong>Rechtsgrundlage für die Datenverarbeitung</strong><br>
Rechtsgrundlage für die Verarbeitung der Daten nach Anmeldung zum Newsletters durch
den Nutzer ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.

Rechtsgrundlage für den Versand des Newsletters nach dem Verkauf von Waren oder
Dienstleistungen ist im Falle von ähnlichen Waren und Dienstleistungen § 7 Abs. 3 UWG.

Der Einsatz von MailChimp und die Durchführung der statistischen Erhebungen und Ana-
lysen erfolgen auf Grundlage unserer berechtigten Interessen gem. Art. 6 Abs. 1 lit. f
DSGVO. Unser berechtigtes Interesse ist in dem sicheren und nutzerfreundlichen Einsatz
des Newsletters zu erblicken. Dies dient zum einem unserem wirtschaftlichen Interesse
und zum anderen den Erwartungen der Nutzer.</span><br><br>

  <span style="font-size:14px;"><strong>Zweck der Datenverarbeitung</strong><br>
Die Erhebung der E-Mail-Adresse des Nutzers dient dazu, den Newsletter zuzustellen.

Die Erhebung sonstiger personenbezogener Daten im Rahmen des Anmeldevorgangs
dient dazu, einen Missbrauch der Dienste oder der verwendeten E-Mail-Adresse zu ver-
hindern.</span><br><br>

  <span style="font-size:14px;"><strong>Dauer der Speicherung</strong><br>
Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung
nicht mehr erforderlich sind. Die E-Mail-Adresse des Nutzers wird demnach solange ge-
speichert, wie das Abonnement des Newsletters aktiv ist.

Die sonstigen im Rahmen des Anmeldevorgangs erhobenen personenbezogenen Daten
werden in der Regel nach einer Frist von sieben Tagen gelöscht.</span><br><br>

  <span style="font-size:14px;"><strong>Widerspruchs- und Beseitigungsmöglichkeit</strong><br>
Das Abonnement des Newsletters kann durch den betroffenen Nutzer jederzeit gekündigt
werden. Zu diesem Zweck findet sich in jedem Newsletter ein entsprechender Link.

Hierdurch wird ebenfalls ein Widerruf der Einwilligung der Speicherung der während des
Anmeldevorgangs erhobenen personenbezogenen Daten ermöglicht.</span><br><br><br>


  <span
    style="font-size:20px;"><strong><em>Kontaktformular und E-Mail-Kontakt</em></strong></span><br>
  <br>
  <strong><span style="font-size:14px;">Beschreibung und Umfang der Datenverarbeitung</span></strong>
  <div>
      <span style="font-size:14px;">Auf unserer Internetseite ist ein Kontaktformular vorhanden, welches für die elektronische
Kontaktaufnahme genutzt werden kann. Nimmt ein Nutzer diese Möglichkeit war, so wer-
den die in der Eingabemaske eingegeben Daten an uns übermittelt und gespeichert. Diese
Daten sind:

• Name des Nutzers
• E-Mail-Adresse des Nutzers
• das Unternehmen bzw. die Firma, für die sich der Nutzer anmeldet
• die Position des Nutzers innerhalb des Unternehmens

Für die Verarbeitung der Daten wird im Rahmen des Absendevorgangs Ihre Einwilligung
eingeholt.

Alternativ ist eine Kontaktaufnahme über die bereitgestellte E-Mail-Adresse möglich. In
diesem Fall werden die mit der E-Mail übermittelten personenbezogenen Daten des Nut-
zers gespeichert.

Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten
werden ausschließlich für die Verarbeitung der Konversation verwendet.</span><br>
    &nbsp;
  </div>
  <span style="font-size:14px;"><strong>Rechtsgrundlage für die Datenverarbeitung.</strong><br>
Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des
Nutzers Art. 6 Abs. 1 lit. a DSGVO.

Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung einer E-
Mail übermittelt werden, ist Art. 6 Abs. 1 lit. f DSGVO. Zielt der E-Mail-Kontakt auf den Ab-
schluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6
Abs. 1 lit. b DSGVO.</span><br><br>
  <span style="font-size:14px;"><strong>Zweck der Datenverarbeitung</strong><br>
Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient uns allein
zur Bearbeitung der Kontaktaufnahme. Im Falle einer Kontaktaufnahme per E-Mail liegt
hieran auch das erforderliche berechtigte Interesse an der Verarbeitung der Daten.

Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten
dienen dazu, einen Missbrauch des Kontaktformulars zu verhindern und die Sicherheit
unserer informationstechnischen Systeme sicherzustellen.</span><br><br>
  <span style="font-size:14px;"><strong>Dauer der Speicherung</strong><br>
Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung
nicht mehr erforderlich sind. Für die personenbezogenen Daten aus der Eingabemaske
des Kontaktformulars und diejenigen, die per E-Mail übersandt wurden, ist dies dann der
Fall, wenn die jeweilige Konversation mit dem Nutzer beendet ist. Beendet ist die Konver-
sation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sach-
verhalt abschließend geklärt ist.

Die während des Absendevorgangs zusätzlich erhobenen personenbezogenen Daten
werden spätestens nach einer Frist von sieben Tagen gelöscht.</span><br><br>

  <span style="font-size:14px;"><strong>Widerspruchs- und Beseitigungsmöglichkeit</strong><br>
Der Nutzer hat jederzeit die Möglichkeit, seine Einwilligung zur Verarbeitung der perso-
nenbezogenen Daten zu widerrufen. Nimmt der Nutzer per E-Mail Kontakt mit uns auf, so
kann er der Speicherung seiner personenbezogenen Daten jederzeit widersprechen. In
einem solchen Fall kann die Konversation nicht fortgeführt werden.

Der Widerruf der Einwilligung und der Widerspruch in die Speicherung der personenbezo-
genen Daten erfolgt durch den Nutzer per E-Mail.

Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert wurden,
werden in diesem Fall gelöscht.</span><br><br>

  <span style="font-size:14px;"><strong>Dauer der Speicherung</strong><br>
Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung
nicht mehr erforderlich sind. Die E-Mail-Adresse des Nutzers wird demnach solange ge-
speichert, wie das Abonnement des Newsletters aktiv ist.

Die sonstigen im Rahmen des Anmeldevorgangs erhobenen personenbezogenen Daten
werden in der Regel nach einer Frist von sieben Tagen gelöscht.</span><br><br>

  <span style="font-size:14px;"><strong>Widerspruchs- und Beseitigungsmöglichkeit</strong><br>
Das Abonnement des Newsletters kann durch den betroffenen Nutzer jederzeit gekündigt
werden. Zu diesem Zweck findet sich in jedem Newsletter ein entsprechender Link.

Hierdurch wird ebenfalls ein Widerruf der Einwilligung der Speicherung der während des
Anmeldevorgangs erhobenen personenbezogenen Daten ermöglicht.</span><br>
  <br>
  <span style="font-size:14px;">letzte Aktualisierung: 10.01.2022</span><br>
  <br>
</main>
  <app-footer></app-footer>



