// chevron
.a-chevron {
  transform: rotate(0deg);
  transition: transform 0.1875s linear;
}

.a-chevron.switch {
  transform: rotate(180deg);
  transition: transform 0.1875s linear;
}


// popup
.a-popup {
  animation: a-pop-keyframes 1s;
}
@keyframes a-pop-keyframes {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


