@import "../theme/color.theme";

// background
.bg-dark {
  background-color: $colorBackgroundDark !important;
  --background: $colorBackgroundDark !important;
}

.bg-dark-two {
  background-color: $colorBackgroundDarkTwo;
}

.bg-dark-two-transparent {
  background-color: $colorBackgroundDarkTwoTransparent;
}

.bg-light {
  background-color: $colorBackgroundLight;
  --background: $colorBackgroundLight !important;
}

.bg-light-two {
  background-color: $colorBackgroundLightTwo;
}

.bg-divider {
  background: $colorDivider;
}

.bg-primary {
  background: $colorPrimary;
}
