@import "../theme/color.theme";

.bo-light {
  border: 0.1rem solid $colorLight;
}

.bo-light-two {
  border: 1px solid $colorLightTwo;
}

.bo-light-two-trans {
  border: 1px solid $colorLightTwoTrans;
}

.bor-01 {
  border-radius: 0.1rem;
}

.bc-invalid {
  border: 0.1rem solid $colorInvalid !important;
  border-color: $colorInvalid !important;
}
