// dialog background
.d-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  //backdrop-filter: blur(1px);
}

.d-section {
  margin: 1rem;
}

.mdc-dialog__surface {
  background-color: transparent !important;
}

