// input

.i {
  @extend .ts-s;
  caret-color: $colorLight;
  width: 100% !important;
  background: $colorBackgroundDark;
  color: $colorLight;
  border: 1px solid $colorLight;
  border-radius: 0.2rem;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  box-sizing: border-box;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: pre-wrap;
  height: 2.5rem;
  overflow: hidden;
}

input {
  all: unset;
}

textarea {
  all: unset;
}

.i-label {
  @extend .ts-xs;
  @extend .tc-light-two;
  margin-bottom: 0.5rem !important;
}

// vertical spacer between inputs
.i-spacer {
  @extend .spv-1;
}

.i-spacer-row {
  @extend .sph-1;
}
