@import "../theme/color.theme"


// section
.section-horizontal
  padding-left: 2rem !important
  padding-right: 2rem !important

.section-vertical
  padding-top: 1rem !important
  padding-bottom: 1rem !important

.section
  @extend .section-horizontal
  @extend .section-vertical


// page
.page-horizontal
  padding-left: 2rem !important
  padding-right: 2rem !important

.page-vertical
  padding-top: 2rem !important
  padding-bottom: 2rem !important

.page
  @extend .page-horizontal
  @extend .page-vertical


// window
.window-horizontal
  padding-left: 2rem !important
  padding-right: 2rem !important

.window-vertical
  padding-top: 1rem !important
  padding-bottom: 1rem !important





@media screen and (max-width: $screenMobile)
  .page-horizontal
    padding-left: 0.5rem !important
    padding-right: 0.5rem !important

  .page-vertical
    padding-top: 1rem
    padding-bottom: 1rem

  .page
    padding-left: 0.5rem !important
    padding-right: 0.5rem !important
    padding-top: 1rem
    padding-bottom: 1rem

  .section-horizontal
    padding-left: 1rem !important
    padding-right: 1rem !important


  .section-vertical
    padding-top: 1rem
    padding-bottom: 1rem


  .section
    padding-left: 1rem !important
    padding-right: 1rem !important
    padding-top: 1rem
    padding-bottom: 1rem


  .window-horizontal
    padding-left: 1.5rem
    padding-right: 1.5rem


  .window-vertical
    padding-top: 2rem
    padding-bottom: 2rem


  .window
    padding-left: 1.5rem
    padding-right: 1.5rem
    padding-top: 2rem
    padding-bottom: 2rem


  .divider
    width: 100%
    margin: 0rem


  .divider-section
    width: calc(100% - 2rem)
    margin: 1rem !important


// scroll horizontal
.scroll-horizontal

.scroll-vertical
  overflow-y: auto


.divider
  height: 1px
  background-color: $colorDivider

.divider-light-two
  height: 1px
  background-color: $colorLightTwo
  width: 100%
  margin: 0rem

.divider-light-two-trans
  @extend .divider-light-two
  background-color: $colorLightTwoTrans

.divider-light-two-025
  @extend .divider-light-two
  opacity: 0.25


.divider-section
  @extend .divider

.divider
  width: 100%
  margin: 0rem

.divider-section
  width: calc(100% - 2rem)
  margin: 1rem !important


