@import "../theme/color.theme";

// text size

.ts-xxl {
  font-size: 2rem;
  line-height: 2rem;
}

.tsl-xxl {
  @extend .ts-xxl;
  line-height: 2.5rem;
}

.tsm-xxl {
  @extend .ts-xxl;
  margin-bottom: 1rem;
}

.ts-xl {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.tsl-xl {
  @extend .ts-xl;
  line-height: 2rem;
}

.tsm-xl {
  @extend .ts-xl;
  margin-bottom: 1rem;
}

.ts-l {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.tsl-l {
  @extend .ts-l;
  line-height: 1.7rem;
}

.tsm-l {
  @extend .ts-xl;
  margin-bottom: 0.5rem;
}

.ts-standard {
  font-size: 1rem;
  line-height: 1rem;
}

.tsl-standard {
  @extend .ts-standard;
  line-height: 1.4rem;
}

.tsm-standard {
  @extend .ts-standard;
  margin-bottom: 0.5rem;
}

.ts-s {
  font-size: 0.9rem;
  line-height: 0.9rem;
}

.tsl-s {
  @extend .ts-s;
  line-height: 1.2rem;
}

.ts-xs {
  font-size: 0.8rem;
  line-height: 0.7rem; // needed everywhere
}

.tsl-xs {
  @extend .ts-xs;
  line-height: 1rem;
}

.ts-xxs {
  font-size: 0.7rem;
  line-height: 0.55rem;
}

.tsl-xxs {
  @extend .ts-xxs;
  line-height: 0.85rem;
}

.ts-xxxs {
  font-size: 0.6rem;
  line-height: 0.6rem;
}

.tsl-xxxs {
  @extend .ts-xxs;
  line-height: 1rem;
}

.ts-toolbar {
  font-size: 1.2rem;
  line-height: 2rem;
}



// text color
.tc-primary {
  color: $colorTextPrimary;
}

.tc-secondary {
  color: $colorTextSecondary;
}

.tc-tertiary {
  color: $colorTextTertiary;
}

.tc-white {
  color: $colorWhite;
}

.tc-light {
  color: $colorLight;
}

.tc-light-two {
  color: $colorLightTwo;
}

.tc-light-three {
  color: $colorLightThree;
}

.tc-dark {
  color: $colorDark;
}

.tc-dark-two {
  color: $colorDarkTwo;
}

.tc-primary_ {
  color: $colorPrimary;
}

.tc-transparent {
  color: transparent;
}

// text weight
.tw-bold {
  font-weight: 500 !important;
}

// text

.t {
  -webkit-hyphens: auto;
  hyphens: auto;
}

.t-xl {
  @extend .tsl-xl;
  @extend .tc-primary;
  @extend .t;
}

.t-l {
  @extend .tsl-l;
  @extend .tc-primary;
  @extend .t;
}

.t-standard {
  @extend .tsl-standard;
  @extend .tc-primary;
  @extend .t;
}

.t-s {
  @extend .tsl-s;
  @extend .tc-primary;
  @extend .t;
}

.t-xs {
  @extend .tsl-xs;
  @extend .tc-primary;
  @extend .t;
}

.t-xxs {
  @extend .tsl-xxs;
  @extend .tc-primary;
  @extend .t;
}

// link
.t-link {
  color: $colorLight;
  text-decoration: underline;
  cursor: pointer;
}

.t-link-dark {
  color: #9d86c0;
  text-decoration: underline;
  cursor: pointer;
}

.t-no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
