<div #vList (panstart)="onListStart($event)" (panmove)="onListMove($event)" (panend)="onListEnd($event)" class="bg-dark-two no-marker"
     [ngStyle]="{'top': hWindow + 'px'}" [style]="bMargin ? {'width': '95%', 'margin-left': '2.5%', 'margin-right': '2.5%'} : null" style="visibility: hidden; position: fixed; overflow-y: hidden; z-index: 22; width: 100%; overflow: auto; border-radius: 1.3rem 1.3rem 0rem 0rem;">

  <!-- header -->
  <div #vListHeader
       style="position: static; z-index: 9; width: 100%; display: flex; flex-direction: column; align-items: center; !important; border-radius: 1.3rem 1.3rem 0rem 0rem; ">
    <!-- slide-bar -->
    <div class="slide-bar">
      <p style="opacity: 0">dummy text so that div gets shown as bar</p>
    </div>
    <!-- text and icons -->
    <div class="section-horizontal" style="position:static; display: flex; align-items: center; box-sizing:border-box; width: 100%; padding-top: 0.5rem; padding-bottom: 0rem; margin-top: auto; margin-bottom: auto">
      <!-- title -->
      <p class="ts-xs tc-light-two tw-bold">{{cHeader}}</p>
    </div>

  </div>

  <!-- content -->
  <!-- needs to be with margin below header -->
  <div #vListOutside style="z-index: 8; margin-bottom: 0.5rem">
    <ng-container *ngTemplateOutlet="tpListInside || vListInsideDefault" style="position: relative;  z-index: 7; width: 100%;">

    </ng-container>
  </div>
</div>

<ng-template #vListInsideDefault>
  <p>Nothing to show</p>
</ng-template>

<div #vClickScreen (click)="onCloseList()" class="bg-dark" style="opacity: 0; position: fixed; width: 100dvw; height: 100dvh; z-index: 21">
</div>


