<div (click)="onClick()" class="section" style="padding-right: 0rem !important;" [ngClass]="bHighlight ? 'bg-dark-two' : 'bg-dark'">
  <div class="flex">
    <div class="flex" style="height: 100%; width: 100%">
      <div class="bg-primary"
           style="border-radius: 100%; min-width: 1.75rem; min-height: 1.75rem; margin-bottom: auto; display: flex; align-items: center; justify-content: center;">
        <p class="ts-xs tc-light tw-bold" style="">{{aComment?.cPlayer!.substring(0, 1)}}</p>
      </div>

      <div class="sph-1"></div>

      <div class="flex-vertical" style="width: 100%">
        <div style="width: 100%">
          <p class="ts-xxs tc-light-two">{{'@' + aComment?.cPlayer! + ' • ' + cTimeAgo}}</p>
          <div class="spv-0375"></div>

          <p class="t-xs tc-light">
          <span *ngIf="aComment?.cPlayerRegard !== undefined && aComment?.cPlayerRegard !== null" class="ts-xs tc-primary_"
             style="padding-right: 0.5rem">{{'&nbsp;@ ' + aComment?.cPlayerRegard}}</span>{{aComment?.cText!}}</p>

        </div>

        <div class="spv-05"></div>

        <div class="flex align-items-center">
          <div #vLike inline=true class="flex align-items-center" style="">
            <mat-icon (click)="onLike($event)" inline=true class="is-xs ic-light" style="" [fontIcon]="aComment?.bLike ? 'thumb_up': 'thumb_up_off_alt'"></mat-icon>
          </div>
          <p class="ts-xxs tc-light" style="padding-left: 0.5rem;">{{aComment?.nLikes! > 0 ? aComment?.nLikes! : ''}}</p>
          <mat-icon *ngIf="bIconAnswer" (click)="onAnswer($event)" inline=true class="is-xs ic-light" style="position: absolute; margin-left: 4rem" fontIcon="add_comment"></mat-icon>
        </div>

        <div *ngIf="bShowAnswers && aComment?.nAnswers! > 0">
          <div class="spv-1"></div>
          <p (click)="onAnswers($event)" class="tc-primary_ ts-xs tw-bold">{{aComment?.nAnswers! > 1 ? aComment?.nAnswers! + ' Antworten' : '1 Antwort'}}</p>
        </div>


      </div>
    </div>

    <mat-icon inline=true (click)="onSettings($event)" class="is-xs ic-light sh-icon" style="padding: 0.25rem 1rem 0.5rem 1rem;" fontIcon="more_vert"></mat-icon>
  </div>
</div>
