// colors

$colorPrimary: #ea0bdf;
$colorLight: #e76ce1;
$colorPrimaryDark: #47088a;
$colorAccent: #59D21C;

$colorTextPrimary: #313131;
$colorTextSecondary: #585858;
$colorTextTertiary: #8d8d8d;

$colorDivider: #cccccc;
$colorDividerDark: #656565;

$colorLight: #f4f2f5;
$colorLightTwo: #b0acb0;
$colorLightThree: #696669;

$colorDark: #0c0c17;
$colorDarkTwo: #282828;

$colorBackgroundLight: $colorLight;
$colorBackgroundLightTwo: $colorLightTwo;
$colorBackgroundDark: $colorDark;
$colorBackgroundDarkTwo: $colorDarkTwo;
$colorBackgroundDarkTwoTransparent: rgba(40, 40, 40, 0.9);

$colorHighlight: #dbdade;
$colorError: #c34a4a;
$colorWhite: #ffffff;

// page
$pageWidth: 100rem;

// screen
$screenMobile: 1024px;

// font-weight
$bold: 500;

// menu
$heightMenu: 4rem;















@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

}
