<div *ngIf="bCookies === null" class="container">
  <div class="cookie-container">

          <div class="padding-extra">
            <p class="text">
              {{text}} <span class="text t-link-dark">Datenschutzbestimmungen</span>
            </p>

          </div>

                <button class="button-two" (click)="onDeny()">Einstellungen</button>

                <button class="button-two" (click)="onDeny()">Ablehnen</button>

                <button class="button-one" (click)="onAccept()">OK</button>



  </div>
</div>


