@import "../../../global";

// sample video view

.title {
  @extend .tsl-l;
  @extend .tc-white;
  @extend .tw-bold;
}

.subtitle {
  @extend .tsl-standard;
  @extend .tc-light;
  @extend .tw-bold;
}

.text {
  @extend .tsl-standard;
  @extend .tc-white;
  @extend .tw-bold;
}

.icon-exit {
  @extend .is-l;
  @extend .ic-light;
  margin-left: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.text-small {
  @extend .t-s;
  @extend .tc-white;
}

.icon-play {
  @extend .is-xs;
  @extend .ic-text-primary;
  border-radius: 100%;
  background-color: $colorWhite;
  padding: 0.25rem;
}

.unit-image {
  height: 2rem;
  border-radius: 0.1rem;
}

.container-item {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
}
