<div style="width: 100%; height: 100%; color: white; background-color: white" class="bg-light">
  <p *appList="condition" style="color: black">test</p>
  <p style="color: black">test</p>
  <p style="color: black">test</p>
  <p style="color: black">test</p>
</div>


<div style="position:relative; display: flex; align-items: center; justify-content: center; width: 20rem; height: 20rem; background: #673AB7">

  <div #test_other class="piechart-other">
  </div>
  <div #test class="piechart">
    <span #number class="number">{{seconds}}</span>
  </div>



</div>

<div style="height: 10rem; width: 10rem; background: #c34a4a">
  <div class="circle"></div>
</div>



