<app-title (outputBack)="onBack()" [bBack]=true [bBackDefault]=false [cTitle]="'Passwort vergessen'"></app-title>

<div class="window">

  <div class="spv-05"></div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <p class="i-label">E-Mail</p>
    <input class="i" formControlName="cEmail" type="email" placeholder="Bitte E-Mail Adresse eingeben...">

    <div class="spv-025"></div>

    <div class="input-info-container">
      <p *ngIf="bSubmitted && errorControl.cEmail.errors?.['required']" class="input-info-text-error">Bitte
        E-Mail Adresse eingeben</p>
    </div>

    <div class="spv-2"></div>

    <button class="b-1-light" type="submit">Passwort zurücksetzen</button>

    <div class="spv-1"></div>

    <p class="ts-s tc-light-two text-align-center">oder <span class="t-link" [routerLink]="'/login/0'">Anmelden</span></p>

  </form>
</div>

