<div [routerLink]="'/webinar-intro/' + aWebinar?.id" class="p-1" style="display: flex; align-items: center">
  <img [src]="urlThumbnail" class="bo-light" style="height: 3rem; width: 3rem; object-fit: cover; border-radius: 0.2rem;">
  <div class="flex-vertical ml-1 mr-1" style="width: 100%">
    <p class="ts-s tw-bold tc-light">{{aWebinar?.cName}}</p>
    <p class="ts-xs tc-light-two mt-05">{{aWebinar?.oCoach?.cName}}</p>
    <p class="ts-xs tc-light-two mt-05">{{aWebinar!.sNet > 0 ? uCurrency.euro(aWebinar!.sNet) : 'Kostenlos'}}</p>
  </div>
</div>


