@import "../../../styles/text";

.container {
  cursor: pointer;
}

.container-info {
  padding: 1rem;
}

.img-profile {
  height: 3rem;
  border-radius: 100%;
}

.container-text {
  margin-left: 1rem;
}

.title {
  @extend .ts-standard;
  @extend .tc-primary;
  @extend .tw-bold;
  margin-bottom: 0.25rem;
}

.subtitle {
  @extend .ts-xs;
  @extend .tc-secondary;
}
