@import "../../../theme/variables";
@import "../../../global";

.background {
  background: $colorBackgroundDark;
}

.container {
  display: flex;
  height: 3rem;
  @extend .page-horizontal;
  @extend .section-horizontal;
  align-items: center;
}

.title {
  @extend .ts-toolbar;
  @extend .c-white;
}

.icon {
  @extend .is-standard;
  @extend .c-white;
  margin-right: 2rem;
  cursor: pointer;
}
